<div class="bridge">
  <div class="bridge-window" 
        [class.has-custom-address]="showCustomAddress"
        [class.has-receive]="isBridgeButtonActive()">
    <div class="header">
			<div class="title">
				<div class="icon-bridge"></div>
        <h3>Bridge</h3>
			</div>
			<div class="icons">
				<div class="custom-wallet-button" 
					[class.hidden]="!isBridgeButtonActive()"
					[class.active]="showCustomAddress"
					(click)="isBridgeButtonActive() && toggleCustomAddress()">
				</div>
				<div class="settings" 
					[class.active]="showSettingsBridgePopup"
					(click)="toggleSettingsBridgePopup()">
				</div>

				<app-settings-bridge
					*ngIf="showSettingsBridgePopup"
					class="settings-bridge-popup open"
					(close)="popupService.closePopup('settingsBridge')"
					(save)="onSlippageSave($event)">
				</app-settings-bridge>
				
			</div>
			
    </div>

		<div class="main" [ngClass]="{'has-custom-address': showCustomAddress}">
			<div class="send">
				<h4>Send</h4>
				<div class="choose">
					<div class="token" (click)="popupService.openPopup('tokenChange')">
						<div class="token-icon" 
							 *ngIf="selectedToken.imageUrl" 
                [style.backgroundImage]="'url(' + selectedToken.imageUrl + ')'">
						</div>
						<p>{{ selectedToken.symbol || 'Select Token' }}</p>
					</div>
					<div class="bridge-amount">
						<input
							type="text"
							id="number-input"
							placeholder="Enter amount"
							[value]="inputAmount"
              (input)="processInput($event, true)"
              (keydown)="restrictInput($event)"
						/>
						<h6 class="max-button" *ngIf="isWalletConnected()">MAX</h6>
					</div>
				</div>
			</div>
			<div class="from">
				<h4>From</h4>
				<div class="choose-network popup-toggle" (click)="openNetworkChangeFromPopup(); $event.stopPropagation()">
					<div class="network-from">
						<div class="network-icon" [style.backgroundImage]="'url(' + selectedNetworkImage + ')'"></div>
						<p>{{ selectedNetwork }}</p>
					</div>
					<button></button>
				</div>
			</div>

			<div class="changer">

				<hr>

				<div class="change-button" id="change-button" 
          (mousedown)="onMouseDown()" 
          (animationend)="onAnimationEnd()">
					<div class="arrow-up"></div>
					<div class="arrow-down"></div>
				</div>

				<hr>

			</div>

			<div class="receive-token">
				<h4>Receive</h4>
				<div class="choose">
					<div class="token" (click)="popupService.openPopup('tokenChangeBuy')">
						<div class="token-icon" 
							 *ngIf="selectedReceiveToken.imageUrl" 
							[style.backgroundImage]="'url(' + selectedReceiveToken.imageUrl + ')'">
						</div>
						<p>{{ selectedReceiveToken.symbol || 'Select Token' }}</p>
					</div>
					<div class="bridge-amount">
						<input
							type="text"
							id="number-input"
							placeholder="Enter amount"
							[value]="inputAmount"
							(input)="processInput($event, true)"
							(keydown)="restrictInput($event)"
						/>
					</div>
				</div>
			</div>

			<div class="to">
				<h4>To</h4>
				<div class="choose-network popup-toggle" (click)="openNetworkChangeToPopup(); $event.stopPropagation()">
					<div class="network-to">
						<div class="network-icon" 
							 *ngIf="selectedNetworkTo" 
              [style.backgroundImage]="'url(' + selectedNetworkToImage + ')'">
						</div>
						<p>{{ selectedNetworkTo || 'Select Network' }}</p>
					</div>
					<button></button>
				</div>
			</div>

			<div class="custom-address" 
				 *ngIf="showCustomAddress"
				@receiveAnimation>
				<input 
					type="text" 
					placeholder="Enter custom address"
					[(ngModel)]="customAddress"
					(input)="validateAddress($event)">
				<div 
					class="address-status" 
					*ngIf="customAddress"
					[ngClass]="{
						'status-good': addressStatus === 'good',
						'status-bad': addressStatus === 'bad'
					}">
				</div>
			</div>
			
			<div class="receive"
				 *ngIf="isBridgeButtonActive()"
				@receiveAnimation>
				<h4>Receive</h4>
				<div class="choose-network" [ngClass]="{'active': isNetworkChosen}">
					<div class="receive-network">
						<p *ngIf="selectedReceiveToken" #receiveText></p>
					</div>
				</div>
			</div>
		</div>

      <button 
				class="main-button" 
				*ngIf="isWalletConnected(); else connectWallet"
				[class.inactive]="!isBridgeButtonActive()"
				[class.finding]="buttonState === 'finding'"
				[class.approve]="buttonState === 'approve'"
				[class.wallet]="buttonState === 'wallet'"
				[class.wrong-address]="buttonState === 'wrong-address'"
				[disabled]="!isBridgeButtonActive() || buttonState === 'wallet' || buttonState === 'finding' || buttonState === 'wrong-address'"
				(click)="isBridgeButtonActive() && handleButtonClick()">
				<ng-container *ngIf="buttonState === 'finding'">Finding Routes...</ng-container>
				<ng-container *ngIf="buttonState === 'approve'">Approve</ng-container>
				<ng-container *ngIf="buttonState === 'wallet'">Continue in your wallet...</ng-container>
				<ng-container *ngIf="buttonState === 'wrong-address'">Wrong destination address</ng-container>
				<ng-container *ngIf="buttonState === 'bridge'">Bridge</ng-container>
      </button>

			<div class="gas-container" *ngIf="isBridgeButtonActive()" [@receiveAnimation]>
				<div class="gas">
					<div class="gas-img"></div>
					<p class="gas-text">0.21</p>
				</div>
			</div>
  </div>
</div>

<ng-template #connectWallet>
  <button 
    class="main-button"
    (click)="openConnectWalletPopup()">
    Connect Wallet
  </button>
</ng-template>

<app-token-change
	*ngIf="popupService.getCurrentPopup() === 'tokenChange'"
	(close)="popupService.closePopup('tokenChange')"
	(tokenSelected)="onTokenSelected($event)">
</app-token-change>

<app-token-change-buy
	*ngIf="popupService.getCurrentPopup() === 'tokenChangeBuy'"
	(close)="popupService.closePopup('tokenChangeBuy')"
	(tokenSelected)="onReceiveTokenSelected($event)">
</app-token-change-buy>

<app-network-change-from
  *ngIf="popupService.getCurrentPopup() === 'networkChangeFrom'"
  [networks]="networks"
  (networkSelected)="onNetworkSelected($event)">
</app-network-change-from>

<app-network-change-to
  *ngIf="popupService.getCurrentPopup() === 'networkChangeTo'"
  [networks]="networks"
  (networkSelected)="onNetworkToSelected($event)">
</app-network-change-to>

<app-bridge-tx
	*ngIf="popupService.getCurrentPopup() === 'bridgeTx'"
	[selectedNetwork]="selectedNetwork"
	[selectedNetworkImage]="selectedNetworkImage"
	[selectedNetworkTo]="selectedNetworkTo"
	[selectedNetworkToImage]="selectedNetworkToImage"
	[selectedToken]="selectedToken"
	[selectedReceiveToken]="selectedReceiveToken"
	[inputAmount]="inputAmount"
	[customAddress]="showCustomAddress ? customAddress : ''"
	(close)="closeBridgeTxPopup()">
</app-bridge-tx>


<!-- <app-network-change-from
	*ngIf="showNetworkChangeFromPopup"
	(close)="closeNetworkChangeFromPopup()"
	(networkSelected)="onNetworkSelected($event)">
</app-network-change-from>

<app-network-change-to
    *ngIf="showNetworkChangeToPopup"
    (close)="closeNetworkChangeToPopup()"
    (networkSelected)="onNetworkToSelected($event)">
</app-network-change-to>

<app-bridge-tx
  *ngIf="showBridgeTxPopup"
  [selectedNetwork]="selectedNetwork()"
  [selectedNetworkTo]="selectedBuyNetwork()"
  [selectedToken]="selectedToken()"
  [inputAmount]="sellAmount"
  (close)="closeBridgeTxPopup()">
</app-bridge-tx>

<app-connect-wallet 
  *ngIf="showConnectWalletPopup"
  (close)="closeConnectWalletPopup()">
</app-connect-wallet> -->