@media screen and (max-width: 1920px) {
	.menu {
		gap: 6px;
	}

	.left {
		gap: 40px;
	}

	.right {
		height: 44px;
		gap: 10px;
	}

	h3 {
		font-size: 18px;
	}

	a.logo {
		width: 48px;
		height: 48px;
	}

	img {
		height: 48px;
		width: 48px;
	}

	button.closed,
	button.network-closed {
		width: 6px;
		height: 3px;
	}

	button.open,
	button.network-open {
		width: 6px;
		height: 3px;
	}

	nav {
		gap: 30px;
	}

	nav a {
		font-size: 18px;
	}

	.xp {
		padding: 6px 20px;
		border-radius: 6px;
	}

	.xp p {
		font-size: 15px;
	}

	.wallet {
		gap: 12px;
	}

	.wallet-icon {
		width: 24px;
		height: 24px;
	}

	.wallet p {
		font-size: 15px;
	}
}
@media screen and (max-width: 1600px) {
	.menu {
		gap: 6px;
	}

	.left {
		gap: 40px;
	}

	.right {
		height: 44px;
		gap: 10px;
	}

	h3 {
		font-size: 18px;
	}

	a.logo {
		width: 48px;
		height: 48px;
	}

	img {
		height: 48px;
		width: 48px;
	}

	button.closed,
	button.network-closed {
		width: 6px;
		height: 3px;
	}

	button.open,
	button.network-open {
		width: 6px;
		height: 3px;
	}

	nav {
		gap: 30px;
	}

	nav a {
		font-size: 18px;
	}


	.xp {
		padding: 6px 20px;
		border-radius: 6px;
	}

	.xp p {
		font-size: 15px;
	}

	.wallet {
		gap: 12px;
	}

	.wallet-icon {
		width: 24px;
		height: 24px;
	}

	.wallet p {
		font-size: 15px;
	}
}
@media screen and (max-width: 1170px) {
	.menu {
		gap: 4px;
	}

	.left {
		gap: 30px;
	}

	.right {
		height: 31px;
		gap: 7px;
	}

	h3 {
		font-size: 13px;
	}

	a.logo {
		width: 35px;
		height: 35px;
	}

	img {
		height: 35px;
		width: 35px;
	}

	button.closed,
	button.network-closed {
		width: 5px;
		height: 3px;
	}

	button.open,
	button.network-open {
		width: 5px;
		height: 3px;
	}

	nav {
		gap: 20px;
	}

	nav a {
		font-size: 13px;
	}

	.xp {
		padding: 2px 10px;
		border-radius: 4px;
	}

	.xp p {
		font-size: 11px;
	}

	.wallet {
		gap: 8px;
	}

	.wallet-icon {
		width: 17px;
		height: 17px;
	}

	.wallet p {
		font-size: 11px;
	}
}
@media screen and (max-width: 970px) {
	.menu {
		gap: 6px;
	}

	.left {
		gap: 40px;
	}

	.right {
		height: 44px;
		gap: 10px;
	}

	h3 {
		font-size: 18px;
	}

	a.logo {
		width: 48px;
		height: 48px;
	}

	img {
		height: 48px;
		width: 48px;
	}

	button.closed,
	button.network-closed {
		width: 6px;
		height: 3px;
	}

	button.open,
	button.network-open {
		width: 6px;
		height: 3px;
	}

	nav {
		display: none;
	}

	nav a {
		font-size: 18px;
	}

	.xp {
		display: none;
	}

	.xp p {
		font-size: 15px;
	}

	.wallet {
		gap: 12px;
	}

	.balance {
		display: none;
	}

	.separator {
		display: none;
	}

	.wallet-icon {
		width: 24px;
		height: 24px;
	}

	.wallet p {
		font-size: 15px;
	}
}

@media screen and (max-width: 479px) {
	.menu {
		gap: 6px;
	}

	.left {
		gap: 60px;
	}

	.right {
		height: 44px;
		gap: 10px;
	}

	h3 {
		font-size: 18px;
	}

	a.logo {
		width: 48px;
		height: 48px;
	}

	img {
		height: 48px;
		width: 48px;
	}

	button.closed,
	button.network-closed {
		width: 6px;
		height: 3px;
	}

	button.open,
	button.network-open {
		width: 6px;
		height: 3px;
	}

	nav {
		display: none;
	}


	.xp {
		display: none;
	}

	.xp p {
		font-size: 14px;
	}

	.balance {
		display: none;
	}

	.separator {
		display: none;
	}

	.wallet {
		gap: 12px;
	}

	.wallet-icon {
		width: 24px;
		height: 24px;
	}

	.wallet p {
		display: none;
	}
}
