@media screen and (min-width: 1601px) and (max-width: 1920px) {
	.popup-network {
		width: 230px;
		height: 559px;
		border-radius: 22px;
		padding: 20px 16px 0 17px;
	}
	
	h6 {
		font-size: 20px;
		margin-left: 8px;
	}
	
	.network-container {
		height: 493px;
		gap: 8px;
		margin-top: 15px;
	}

	.network {
		gap: 8px;
		min-height: 38px;
		width: 197px;
		border-radius: 11px;
		padding-left: 8px;
	}
	
	.network-icon {
		width: 25px;
		height: 25px;
	}
	
	p {
		font-size: 15px;
	}
	
	.last {
		min-height: 8px;
	}
}
@media screen and (min-width: 1171px) and (max-width: 1600px) {
	.popup-network {
		width: 230px;
		height: 559px;
		border-radius: 22px;
		padding: 20px 16px 0 17px;
	}
	
	h6 {
		font-size: 20px;
		margin-left: 8px;
	}
	
	.network-container {
		height: 493px;
		gap: 8px;
		margin-top: 15px;
	}

	.network {
		gap: 8px;
		min-height: 38px;
		width: 197px;
		border-radius: 11px;
		padding-left: 8px;
	}
	
	.network-icon {
		width: 25px;
		height: 25px;
	}
	
	p {
		font-size: 15px;
	}
	
	.last {
		min-height: 8px;
	}
}
@media screen and (min-width: 971px) and (max-width: 1170px) {
	.popup-network {
		width: 168px;
		height: 409px;
		border-radius: 16px;
		padding: 15px 12px;
	}
	
	h6 {
		font-size: 13px;
		margin-left: 6px;
	}
	
	.network-container {
		height: 366px;
		gap: 5px;
		margin-top: 11px;
	}

	.network {
		gap: 5px;
		min-height: 28px;
		width: 144px;
		border-radius: 8px;
		padding-left: 5px;
	}
	
	.network-icon {
		width: 18px;
		height: 18px;
	}
	
	p {
		font-size: 11px;
	}
	
	.last {
		min-height: 5px;
	}
}
@media screen and (min-width: 769px) and (max-width: 970px) {
	.popup-network {
		width: 230px;
		height: 559px;
		border-radius: 22px;
		padding: 20px 16px 0 17px;
	}
	
	h6 {
		font-size: 20px;
		margin-left: 8px;
	}
	
	.network-container {
		height: 493px;
		gap: 8px;
		margin-top: 15px;
	}

	.network {
		gap: 8px;
		min-height: 38px;
		width: 197px;
		border-radius: 11px;
		padding-left: 8px;
	}
	
	.network-icon {
		width: 25px;
		height: 25px;
	}
	
	p {
		font-size: 15px;
	}
	
	.last {
		min-height: 8px;
	}
}

@media screen and (min-width: 360px) and (max-width: 479px) {
	.popup-network {
		width: 90%;
		height: 80%;
		border-radius: 16px;
		padding: 15px 12px 0 12px;
		backdrop-filter: blur(35px);
		-webkit-backdrop-filter: blur(19px);
	}
	
	h6 {
		font-size: 18px;
		margin-left: 8px;
	}
	
	.network-container {
		height: 92%;
		gap: 8px;
		margin-top: 15px;
	}

	.network {
		gap: 8px;
		min-height: 38px;
		width: 197px;
		border-radius: 11px;
		padding-left: 8px;
	}
	
	.network-icon {
		width: 25px;
		height: 25px;
	}
	
	p {
		font-size: 15px;
	}
	
	.last {
		min-height: 8px;
	}
}