@media screen and (min-width: 1601px) and (max-width: 1920px) {

	@import '../../../styles/mouse-gradient-button';
	.token-change {
		@include mouse-gradient-button(
			$padding: 20px 20px 0 20px,
			$height: 625px,
			$border-radius: 22px,
			$background: rgba(var(--dark-bg), 0.1),
			$backdrop-blur: 25px,
			$include-responsive: false
		);

		position: fixed;
		width: 450px;
		box-sizing: border-box;
		z-index: 10;
		overflow: hidden;
		flex-direction: column;
		align-items: stretch;
		justify-content: stretch;
		
		&:hover {
			transform: none;
			
			background: radial-gradient(
				circle at var(--gradient-x, 50%) var(--gradient-y, 50%), 
				rgba(255, 255, 255, 0.001) 0%, 
				rgba(255, 255, 255, 0.0005) 50%, 
				transparent 100%
			);
		}
	}
	
	h3 {
		font-size: 20px;
	}
	
	button {
		height: 20px;
		width: 20px;
	}

	.network-select {
		margin-top: 20px;
		gap: 15px;
	}
	
	.network {
		width: 55px;
		height: 55px;
		border-radius: 12px;
	}
	
	.network-icon {
		width: 35px;
		height: 35px;
	}
	.more {
		width: 55px;
		height: 55px;
		border-radius: 12px;
	}
	
	.more p {
		font-size: 22px;
	}
	
	.search {
		margin-top: 20px;
		width: 410px;
		height: 45px;
		border-radius: 13px;
		padding: 0 15px;
	}
	
	input {
		width: 357px;
		height: 18px;
		font-size: 14px;
	}
	
	input::placeholder {
		font-size: 14px;
	}
	
	.search-button {
		height: 18px;
		width: 18px;
	}
	
	.desc {
		margin-top: 20px;
	}
	
	.desc > p {
		font-size: 12px;
	}
	
	.list {
		top: 310px;
		left: 10px;
		width: 430px;
		height: 313px;
		border-radius: 12px;
	}
	
	.token {
		width: 430px;
		height: 65px;
		padding: 10px 15px;
		border-radius: 12px;
	}
	
	.image {
		height: 45px;
		width: 45px;
		margin-right: 14px;
	}
	
	.token .image .token-image {
		height: 45px;
		width: 45px;
	}
	
	.token .image .network-image {
		height: 18px;
		width: 18px;
	}
	
	.token .name h6 {
		font-size: 14px;
	}
	
	.token .name p {
		margin-top: 0px;
		font-size: 14px;
	}

	.right {
		gap: 8px;
	}
	
	.token-balance p{
		font-size: 14px;
	}
	
	.contract {
		gap: 8px;
	}

	.contract .image-copy {
		height: 14px;
		width: 14px;
	}
	
	.token-change .contract p {
		font-size: 12px;
	}
	
	.contract .image-link {
		height: 14px;
		width: 5px;
		margin-left: 8px;
	}
	
	.verified-icon {
		width: 18px;
		height: 18px;
	}
	
	.symbol-container {
		gap: 5px;
	}
}
@media screen and (min-width: 1171px) and (max-width: 1600px) {
	@import '../../../styles/mouse-gradient-button';
	.token-change {
		@include mouse-gradient-button(
			$padding: 20px 20px 0 20px,
			$height: 625px,
			$border-radius: 22px,
			$background: rgba(var(--dark-bg), 0.1),
			$backdrop-blur: 25px,
			$include-responsive: false
		);

		position: fixed;
		width: 450px;
		box-sizing: border-box;
		z-index: 10;
		overflow: hidden;
		flex-direction: column;
		align-items: stretch;
		justify-content: stretch;
		
		&:hover {
			transform: none;
			
			background: radial-gradient(
				circle at var(--gradient-x, 50%) var(--gradient-y, 50%), 
				rgba(255, 255, 255, 0.001) 0%, 
				rgba(255, 255, 255, 0.0005) 50%, 
				transparent 100%
			);
		}
	}
	
	h3 {
		font-size: 20px;
	}
	
	button {
		height: 20px;
		width: 20px;
	}

	.network-select {
		margin-top: 20px;
		gap: 15px;
	}
	
	.network {
		width: 55px;
		height: 55px;
		border-radius: 12px;
	}
	
	.network-icon {
		width: 35px;
		height: 35px;
	}
	.more {
		width: 55px;
		height: 55px;
		border-radius: 12px;
	}
	
	.more p {
		font-size: 22px;
	}
	
	.search {
		margin-top: 20px;
		width: 410px;
		height: 45px;
		border-radius: 13px;
		padding: 0 15px;
	}
	
	input {
		width: 357px;
		height: 18px;
		font-size: 14px;
	}
	
	input::placeholder {
		font-size: 14px;
	}
	
	.search-button {
		height: 18px;
		width: 18px;
	}
	
	.desc {
		margin-top: 20px;
	}
	
	.desc > p {
		font-size: 12px;
	}
	
	.list {
		top: 310px;
		left: 10px;
		width: 430px;
		height: 313px;
		border-radius: 12px;
	}
	
	.token {
		width: 430px;
		height: 65px;
		padding: 10px 15px;
		border-radius: 12px;
	}
	
	.image {
		height: 45px;
		width: 45px;
		margin-right: 14px;
	}
	
	.token .image .token-image {
		height: 45px;
		width: 45px;
	}
	
	.token .image .network-image {
		height: 18px;
		width: 18px;
	}
	
	.token .name h6 {
		font-size: 14px;
	}
	
	.token .name p {
		margin-top: 0px;
		font-size: 14px;
	}

	.right {
		gap: 8px;
	}
	
	.token-balance p{
		font-size: 14px;
	}
	
	.contract {
		gap: 8px;
	}

	.contract .image-copy {
		height: 14px;
		width: 14px;
	}
	
	.token-change .contract p {
		font-size: 12px;
	}
	
	.contract .image-link {
		height: 14px;
		width: 5px;
		margin-left: 8px;
	}
	
	.verified-icon {
		width: 18px;
		height: 18px;
	}
	
	.symbol-container {
		gap: 5px;
	}
}
@media screen and (min-width: 971px) and (max-width: 1170px) {
	@import '../../../styles/mouse-gradient-button';
	.token-change {
		@include mouse-gradient-button(
			$padding: 15px,
			$height: 470px,
			$border-radius: 15px,
			$background: rgba(var(--dark-bg), 0.1),
			$backdrop-blur: 25px,
			$include-responsive: false
		);

		position: fixed;
		width: 330px;
		box-sizing: border-box;
		z-index: 10;
		overflow: hidden;
		flex-direction: column;
		align-items: stretch;
		justify-content: stretch;
		
		&:hover {
			transform: none;
			
			background: radial-gradient(
				circle at var(--gradient-x, 50%) var(--gradient-y, 50%), 
				rgba(255, 255, 255, 0.001) 0%, 
				rgba(255, 255, 255, 0.0005) 50%, 
				transparent 100%
			);
		}
	}
	
	h3 {
		font-size: 13px;
	}
	
	button {
		height: 15px;
		width: 15px;
	}

	.network-select {
		margin-top: 10px;
		gap: 10px;
	}
	
	.network {
		width: 40px;
		height: 40px;
		border-radius: 8px;
	}
	
	.network-icon {
		width: 25px;
		height: 25px;
	}
	.more {
		width: 40px;
		height: 40px;
		border-radius: 8px;
	}
	
	.more p {
		font-size: 14px;
	}
	
	.search {
		margin-top: 16px;
		width: 300px;
		height: 33px;
		border-radius: 10px;
		padding: 0 11px;
	}
	
	input {
		width: 261px;
		height: 13px;
		font-size: 10px;
	}
	
	input::placeholder {
		font-size: 10px;
	}
	
	.search-button {
		height: 13px;
		width: 13px;
	}
	
	.desc {
		margin-top: 15px;
	}
	
	.desc > p {
		font-size: 8px;
	}
	
	.list {
		top: 220px;
		left: 5px;
		width: 320px;
		height: 250px;
		border-radius: 8px;
	}
	.token {
		width: 320px;
		height: 47px;
		padding: 7px 10px;
		border-radius: 8px;
	}
	
	.image {
		height: 33px;
		width: 33px;
		margin-right: 10px;
	}
	
	.token .image .token-image {
		height: 33px;
		width: 33px;
	}
	
	.token .image .network-image {
		height: 13px;
		width: 13px;
	}
	
	.token .name h6 {
		font-size: 10px;
	}
	
	.token .name p {
		margin-top: 0px;
		font-size: 10px;
	}

	.right {
		gap: 6px;
	}
	
	.token-balance p{
		font-size: 10px;
	}
	
	.contract {
		gap: 6px;
	}

	.contract .image-copy {
		height: 10px;
		width: 10px;
	}
	
	.token-change .contract p {
		font-size: 8px;
	}
	
	.contract .image-link {
		height: 10px;
		width: 4px;
		margin-left: 6px;
	}
	
	.verified-icon {
		width: 13px;
		height: 13px;
	}
	
	.symbol-container {
		gap: 4px;
	}
}
@media screen and (min-width: 480px) and (max-width: 970px) {
	@import '../../../styles/mouse-gradient-button';
	.token-change {
		@include mouse-gradient-button(
			$padding: 20px 20px 0 20px,
			$height: 625px,
			$border-radius: 22px,
			$background: rgba(var(--dark-bg), 0.1),
			$backdrop-blur: 25px,
			$include-responsive: false
		);

		position: fixed;
		width: 450px;
		box-sizing: border-box;
		z-index: 10;
		overflow: hidden;
		flex-direction: column;
		align-items: stretch;
		justify-content: stretch;
		
		&:hover {
			transform: none;
			
			background: radial-gradient(
				circle at var(--gradient-x, 50%) var(--gradient-y, 50%), 
				rgba(255, 255, 255, 0.001) 0%, 
				rgba(255, 255, 255, 0.0005) 50%, 
				transparent 100%
			);
		}
	}
	
	h3 {
		font-size: 20px;
	}
	
	button {
		height: 20px;
		width: 20px;
	}

	.network-select {
		margin-top: 20px;
		gap: 15px;
	}
	
	.network {
		width: 55px;
		height: 55px;
		border-radius: 12px;
	}
	
	.network-icon {
		width: 35px;
		height: 35px;
	}
	.more {
		width: 55px;
		height: 55px;
		border-radius: 12px;
	}
	
	.more p {
		font-size: 22px;
	}
	
	.search {
		margin-top: 20px;
		width: 410px;
		height: 45px;
		border-radius: 13px;
		padding: 0 15px;
	}
	
	input {
		width: 357px;
		height: 18px;
		font-size: 14px;
	}
	
	input::placeholder {
		font-size: 14px;
	}
	
	.search-button {
		height: 18px;
		width: 18px;
	}
	
	.desc {
		margin-top: 20px;
	}
	
	.desc > p {
		font-size: 12px;
	}
	
	.list {
		top: 310px;
		left: 10px;
		width: 430px;
		height: 313px;
		border-radius: 12px;
	}
	.token {
		width: 430px;
		height: 65px;
		padding: 10px 15px;
		border-radius: 12px;
	}
	
	.image {
		height: 45px;
		width: 45px;
		margin-right: 14px;
	}
	
	.token .image .token-image {
		height: 45px;
		width: 45px;
	}
	
	.token .image .network-image {
		height: 18px;
		width: 18px;
	}
	
	.token .name h6 {
		font-size: 14px;
	}
	
	.token .name p {
		margin-top: 0px;
		font-size: 14px;
	}

	.right {
		gap: 8px;
	}
	
	.token-balance p{
		font-size: 14px;
	}
	
	.contract {
		gap: 8px;
	}

	.contract .image-copy {
		height: 14px;
		width: 14px;
	}
	
	.token-change .contract p {
		font-size: 12px;
	}
	
	.contract .image-link {
		height: 14px;
		width: 5px;
		margin-left: 8px;
	}
	
	.verified-icon {
		width: 18px;
		height: 18px;
	}
	
	.symbol-container {
		gap: 5px;
	}
}

@media screen and (min-width: 360px) and (max-width: 479px) {
	@import '../../../styles/mouse-gradient-button';
	.token-change {
		@include mouse-gradient-button(
			$padding: 15px,
			$height: 80vh,
			$border-radius: 16px,
			$background: rgba(var(--dark-bg), 0.1),
			$backdrop-blur: 25px,
			$include-responsive: false
		);

		position: fixed;
		width: 90vw;
		box-sizing: border-box;
		z-index: 10;
		overflow: hidden;
		flex-direction: column;
		align-items: stretch;
		justify-content: stretch;
		
		&:hover {
			transform: none;
			
			background: radial-gradient(
				circle at var(--gradient-x, 50%) var(--gradient-y, 50%), 
				rgba(255, 255, 255, 0.001) 0%, 
				rgba(255, 255, 255, 0.0005) 50%, 
				transparent 100%
			);
		}
	}
	
	h3 {
		font-size: 18px;
	}
	
	button {
		height: 20px;
		width: 20px;
	}

	.network-select {
		margin-top: 15px;
		gap: 5px;
	}
	
	.network {
		width: 47px;
		height: 47px;
		border-radius: 8px;
	}
	
	.network-icon {
		width: 35px;
		height: 35px;
	}
	.more {
		width: 47px;
		height: 47px;
		border-radius: 8px;
	}
	
	.more p {
		font-size: 18px;
	}
	
	.search {
		margin-top: 20px;
		width: 100%;
		height: 45px;
		border-radius: 13px;
		padding: 0 15px;
	}
	
	input {
		width: 100%;
		height: 18px;
		font-size: 14px;
	}
	
	input::placeholder {
		font-size: 14px;
	}
	
	.search-button {
		height: 18px;
		width: 18px;
	}
	
	.desc {
		margin-top: 20px;
	}
	
	.desc > p {
		font-size: 12px;
	}
	
	.list {
		top: 280px;
		left: 5px;
		width: 100%;
		height: 450px;
		border-radius: 12px;
	}
	.token {
		width: 95%;
		height: 65px;
		padding: 10px 15px;
		border-radius: 12px;
	}
	
	.image {
		height: 45px;
		width: 45px;
		margin-right: 14px;
	}
	
	.token .image .token-image {
		height: 45px;
		width: 45px;
	}
	
	.token .image .network-image {
		height: 18px;
		width: 18px;
	}
	
	.token .name h6 {
		font-size: 14px;
	}
	
	.token .name p {
		margin-top: 0px;
		font-size: 14px;
	}
	
	.right {
		gap: 8px;
	}
	
	.token-balance p{
		font-size: 14px;
	}
	
	.contract {
		gap: 8px;
	}

	.contract .image-copy {
		height: 14px;
		width: 14px;
	}
	
	.token-change .contract p {
		font-size: 12px;
	}
	
	.contract .image-link {
		height: 14px;
		width: 5px;
		margin-left: 8px;
	}
	
	.verified-icon {
		width: 18px;
		height: 18px;
	}
	
	.symbol-container {
		gap: 5px;
	}
}