<div class="popup-container wallet-popup" (mousemove)="onWalletMouseMove($event)">
	<div class="header">
		<p><span>{{ walletCount }}</span> Wallet{{ walletCount > 1 ? 's' : '' }}</p>
		<button class="close-button" (click)="closePopup()"></button>
	</div>

<div class="wallet" *ngIf="blockchainStateService.evmWalletAddress()">
  <div class="left-wallet">
    <div class="avatar" [style.background-image]="'url(' + getIconUrl('EVM') + ')'"></div>
    <div class="wallet-name">
      <h3>{{ formatAddress(blockchainStateService.evmWalletAddress()!) }}</h3>
      <div class="wallet-address">
        <p>{{ formatAddress(blockchainStateService.evmWalletAddress()!) }}</p>
        <div
          class="copy"
          [class.copied]="isCopied(blockchainStateService.evmWalletAddress()!)"
          (click)="copyToClipboard(blockchainStateService.evmWalletAddress()!, $event)"
        ></div>
      </div>
    </div>
  </div>
  <div class="right-wallet">
    <p>EVM</p>
    <div class="disconnect" (click)="onDisconnect('EVM')">
      <p>Disconnect</p>
    </div>
  </div>
</div>

<div class="wallet" *ngIf="blockchainStateService.svmWalletAddress()">
  <div class="left-wallet">
    <div class="avatar" [style.background-image]="'url(' + getIconUrl('SVM') + ')'"></div>
    <div class="wallet-name">
      <h3>{{ formatAddress(blockchainStateService.svmWalletAddress()!) }}</h3>
      <div class="wallet-address">
        <p>{{ formatAddress(blockchainStateService.svmWalletAddress()!) }}</p>
        <div
          class="copy"
          [class.copied]="isCopied(blockchainStateService.svmWalletAddress()!)"
          (click)="copyToClipboard(blockchainStateService.svmWalletAddress()!, $event)"
        ></div>
      </div>
    </div>
  </div>
  <div class="right-wallet">
    <p>SVM</p>
    <div class="disconnect" (click)="onDisconnect('SVM')">
      <p>Disconnect</p>
    </div>
  </div>
</div>

	<div class="button-connect" (click)="onConnectAnotherWallet()">
		<p>Connect Another Wallet</p>
	</div>

	<!-- <div class="devider">
		<p>Balance</p>
		<hr class="hr1" />
	</div>

	<div class="balance">
		<h2>${{ totalBalance.toFixed(2) }}</h2>
		<div class="grow">
			<p class="usd">{{ formattedUsdChange }}</p>
			<p class="percent">{{ formattedPercentChange }}</p>
		</div>
	</div>

	<div class="devider">
		<p>Portfolio</p>
		<hr class="hr2" />
	</div>

	<div class="token-portfolio">
		<div class="token" *ngFor="let token of tokens">
			<div class="token-left">
				<div class="token-img" [style.background-image]="'url(' + token.image + ')'"></div>
				<div class="token-info">
					<p class="token-name">{{ token.name }}</p>
					<p class="token-balance">{{ token.balance }}</p>
				</div>
			</div>
			<div class="token-right">
				<h5 class="usd-balance">${{ token.usdBalance }}</h5>
				<div class="token-price-change">
					<p class="usd-change">{{ token.usdChange }}</p>
					<p class="percent-change">{{ token.percentChange }}</p>
				</div>
			</div>
		</div>
	</div> -->
	
</div>
