@media screen and (max-width: 1920px) {
  .wallet-popup {
    display: flex;
    position: fixed;
    width: 360px;
    box-sizing: border-box;
    z-index: 10;
    overflow: hidden;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }

  .header p {
    font-size: 14px;
  }

  .header p span {
    font-size: 14px;
  }

  .header button {
    height: 13px;
    width: 13px;
  }

  .left-wallet {
    gap: 10px;
  }

  .right-wallet {
    gap: 10px;
  }

  .wallet {
    margin-top: 15px;
  }

  .wallet p {
    font-size: 14px;
  }

  .avatar {
    width: 45px;
    height: 45px;
    border-radius: 10px;
  }

  .wallet-name {
    gap: 4px;
  }

  .wallet-name h3 {
    font-size: 16px;
  }

  .wallet-address {
    gap: 4px;
  }

  .wallet-address p {
    font-size: 14px;
  }

  .copy {
    width: 17px;
    height: 17px;
  }

  .disconnect {
    padding: 5px 12px;
    border-radius: 8px;
  }

  .disconnect p {
    font-size: 12px;
  }

  .button-connect {
    margin-top: 20px;
    height: 45px;
    border-radius: 12px;
    font-size: 16px;
  }

  //TODO!!!

  // .devider {
  // 	margin-top: 27px;
  // }

  // .devider p {
  // 	font-size: 18px;
  // 	margin-right: 17px;
  // }

  // .hr1 {
  // 	width: 332px;
  // 	border: 1px solid var(--elem-nonactive);
  // }

  // .hr2 {
  // 	width: 304px;
  // 	border: 1px solid var(--elem-nonactive);
  // }

  // .balance {
  // 	margin: 20px 0 13px;
  // 	gap: 5px;
  // }

  // .balance h2 {
  // 	font-size: 45px;
  // }

  // .grow {
  // 	gap: 5px;
  // }

  // .grow p {
  // 	font-size: 22px;
  // }

  // .token-portfolio {
  // 	width: 100%;
  // 	height: 432px;
  // 	margin-top: 30px;
  // 	gap: 25px;
  // }

  // .token-left {
  // 	gap: 15px;
  // }

  // .token-img {
  // 	width: 60px;
  // 	height: 60px;
  // }

  // .token-info p {
  // 	font-size: 20px;
  // }

  // .token-right {
  // 	gap: 3px;
  // }

  // .token-right h5 {
  // 	font-size: 24px;
  // }

  // .token-price-change {
  // 	gap: 5px;
  // }

  // .token-price-change p {
  // 	font-size: 16px;
  // }
}

@media screen and (max-width: 1600px) {
  .wallet-popup {
    display: flex;
    position: fixed;
    width: 300px;
    box-sizing: border-box;
    z-index: 10;
    overflow: hidden;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }

  .header p {
    font-size: 14px;
  }

  .header p span {
    font-size: 14px;
  }

  .header button {
    height: 13px;
    width: 13px;
  }

  .left-wallet {
    gap: 10px;
  }

  .right-wallet {
    gap: 10px;
  }

  .wallet {
    margin-top: 15px;
  }

  .wallet p {
    font-size: 14px;
  }

  .avatar {
    width: 45px;
    height: 45px;
    border-radius: 10px;
  }

  .wallet-name {
    gap: 4px;
  }

  .wallet-name h3 {
    font-size: 16px;
  }

  .wallet-address {
    gap: 4px;
  }

  .wallet-address p {
    font-size: 14px;
  }

  .copy {
    width: 17px;
    height: 17px;
  }

  .disconnect {
    padding: 5px 12px;
    border-radius: 8px;
  }

  .disconnect p {
    font-size: 12px;
  }

  .button-connect {
    margin-top: 20px;
    height: 45px;
    border-radius: 12px;
    font-size: 16px;
  }

  //TODO!!!

  // .devider {
  // 	margin-top: 27px;
  // }

  // .devider p {
  // 	font-size: 18px;
  // 	margin-right: 17px;
  // }

  // .hr1 {
  // 	width: 332px;
  // 	border: 1px solid var(--elem-nonactive);
  // }

  // .hr2 {
  // 	width: 304px;
  // 	border: 1px solid var(--elem-nonactive);
  // }

  // .balance {
  // 	margin: 20px 0 13px;
  // 	gap: 5px;
  // }

  // .balance h2 {
  // 	font-size: 45px;
  // }

  // .grow {
  // 	gap: 5px;
  // }

  // .grow p {
  // 	font-size: 22px;
  // }

  // .token-portfolio {
  // 	width: 100%;
  // 	height: 432px;
  // 	margin-top: 30px;
  // 	gap: 25px;
  // }

  // .token-left {
  // 	gap: 15px;
  // }

  // .token-img {
  // 	width: 60px;
  // 	height: 60px;
  // }

  // .token-info p {
  // 	font-size: 20px;
  // }

  // .token-right {
  // 	gap: 3px;
  // }

  // .token-right h5 {
  // 	font-size: 24px;
  // }

  // .token-price-change {
  // 	gap: 5px;
  // }

  // .token-price-change p {
  // 	font-size: 16px;
  // }
}

@media screen and (max-width: 1170px) {
  .wallet-popup {
    display: flex;
    position: fixed;
    width: 250px;
    box-sizing: border-box;
    z-index: 10;
    overflow: hidden;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }

  .header p {
    font-size: 12px;
  }

  .header p span {
    font-size: 12px;
  }

  .header button {
    height: 10px;
    width: 10px;
  }

  .left-wallet {
    gap: 10px;
  }

  .right-wallet {
    gap: 10px;
  }

  .wallet {
    margin-top: 15px;
  }

  .wallet p {
    font-size: 12px;
  }

  .avatar {
    width: 37px;
    height: 37px;
    border-radius: 10px;
  }

  .wallet-name {
    gap: 3px;
  }

  .wallet-name h3 {
    font-size: 13px;
  }

  .wallet-address {
    gap: 3px;
  }

  .wallet-address p {
    font-size: 10px;
  }

  .copy {
    width: 12px;
    height: 12px;
  }

  .disconnect {
    padding: 3px 8px;
    border-radius: 5px;
  }

  .disconnect p {
    font-size: 8px;
  }

  .right-header button {
    height: 10px;
    width: 10px;
  }

  .button-connect {
    margin-top: 20px;
    height: 35px;
    border-radius: 10px;
    font-size: 12px;
  }

  //TODO!!!

  // .devider {
  // 	margin-top: 27px;
  // }

  // .devider p {
  // 	font-size: 18px;
  // 	margin-right: 17px;
  // }

  // .hr1 {
  // 	width: 332px;
  // 	border: 1px solid var(--elem-nonactive);
  // }

  // .hr2 {
  // 	width: 304px;
  // 	border: 1px solid var(--elem-nonactive);
  // }

  // .balance {
  // 	margin: 20px 0 13px;
  // 	gap: 5px;
  // }

  // .balance h2 {
  // 	font-size: 45px;
  // }

  // .grow {
  // 	gap: 5px;
  // }

  // .grow p {
  // 	font-size: 22px;
  // }

  // .token-portfolio {
  // 	width: 100%;
  // 	height: 432px;
  // 	margin-top: 30px;
  // 	gap: 25px;
  // }

  // .token-left {
  // 	gap: 15px;
  // }

  // .token-img {
  // 	width: 60px;
  // 	height: 60px;
  // }

  // .token-info p {
  // 	font-size: 20px;
  // }

  // .token-right {
  // 	gap: 3px;
  // }

  // .token-right h5 {
  // 	font-size: 24px;
  // }

  // .token-price-change {
  // 	gap: 5px;
  // }

  // .token-price-change p {
  // 	font-size: 16px;
  // }
}

@media screen and (max-width: 970px) {
  :host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
  }

  .wallet-popup {
    position: static;
    margin-top: 140px;
    width: 550px;
  }

  .header p {
    font-size: 14px;
  }

  .header p span {
    font-size: 14px;
  }

  .header button {
    height: 13px;
    width: 13px;
  }

  .left-wallet {
    gap: 10px;
  }

  .right-wallet {
    gap: 10px;
  }

  .wallet {
    margin-top: 15px;
  }

  .wallet p {
    font-size: 14px;
  }

  .avatar {
    width: 45px;
    height: 45px;
    border-radius: 10px;
  }

  .wallet-name {
    gap: 4px;
  }

  .wallet-name h3 {
    font-size: 16px;
  }

  .wallet-address {
    gap: 4px;
  }

  .wallet-address p {
    font-size: 14px;
  }

  .copy {
    width: 17px;
    height: 17px;
  }

  .disconnect {
    padding: 5px 12px;
    border-radius: 8px;
  }

  .disconnect p {
    font-size: 12px;
  }

  .button-connect {
    margin-top: 20px;
    height: 45px;
    border-radius: 12px;
    font-size: 16px;
  }

  //TODO!!!

  // .devider {
  // 	margin-top: 27px;
  // }

  // .devider p {
  // 	font-size: 18px;
  // 	margin-right: 17px;
  // }

  // .hr1 {
  // 	width: 332px;
  // 	border: 1px solid var(--elem-nonactive);
  // }

  // .hr2 {
  // 	width: 304px;
  // 	border: 1px solid var(--elem-nonactive);
  // }

  // .balance {
  // 	margin: 20px 0 13px;
  // 	gap: 5px;
  // }

  // .balance h2 {
  // 	font-size: 45px;
  // }

  // .grow {
  // 	gap: 5px;
  // }

  // .grow p {
  // 	font-size: 22px;
  // }

  // .token-portfolio {
  // 	width: 100%;
  // 	height: 432px;
  // 	margin-top: 30px;
  // 	gap: 25px;
  // }

  // .token-left {
  // 	gap: 15px;
  // }

  // .token-img {
  // 	width: 60px;
  // 	height: 60px;
  // }

  // .token-info p {
  // 	font-size: 20px;
  // }

  // .token-right {
  // 	gap: 3px;
  // }

  // .token-right h5 {
  // 	font-size: 24px;
  // }

  // .token-price-change {
  // 	gap: 5px;
  // }

  // .token-price-change p {
  // 	font-size: 16px;
  // }
}

@media screen and (max-width: 768px) {
  .wallet-popup {
    width: 400px;
  }
}

@media screen and (max-width: 479px) {
  .wallet-popup {
    display: flex;
    position: fixed;
    width: 320px;
    box-sizing: border-box;
    z-index: 10;
    overflow: hidden;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }

  .header p {
    font-size: 14px;
  }

  .header p span {
    font-size: 14px;
  }

  .header button {
    height: 13px;
    width: 13px;
  }

  .left-wallet {
    gap: 10px;
  }

  .right-wallet {
    gap: 10px;
  }

  .wallet {
    margin-top: 15px;
  }

  .wallet p {
    font-size: 14px;
  }

  .avatar {
    width: 45px;
    height: 45px;
    border-radius: 10px;
  }

  .wallet-name {
    gap: 4px;
  }

  .wallet-name h3 {
    font-size: 16px;
  }

  .wallet-address {
    gap: 4px;
  }

  .wallet-address p {
    font-size: 14px;
  }

  .copy {
    width: 17px;
    height: 17px;
  }

  .disconnect {
    padding: 5px 12px;
    border-radius: 8px;
  }

  .disconnect p {
    font-size: 12px;
  }

  .button-connect {
    margin-top: 20px;
    height: 45px;
    border-radius: 12px;
    font-size: 16px;
  }

  //TODO!!!

  // .devider {
  // 	margin-top: 27px;
  // }

  // .devider p {
  // 	font-size: 18px;
  // 	margin-right: 17px;
  // }

  // .hr1 {
  // 	width: 332px;
  // 	border: 1px solid var(--elem-nonactive);
  // }

  // .hr2 {
  // 	width: 304px;
  // 	border: 1px solid var(--elem-nonactive);
  // }

  // .balance {
  // 	margin: 20px 0 13px;
  // 	gap: 5px;
  // }

  // .balance h2 {
  // 	font-size: 45px;
  // }

  // .grow {
  // 	gap: 5px;
  // }

  // .grow p {
  // 	font-size: 22px;
  // }

  // .token-portfolio {
  // 	width: 100%;
  // 	height: 432px;
  // 	margin-top: 30px;
  // 	gap: 25px;
  // }

  // .token-left {
  // 	gap: 15px;
  // }

  // .token-img {
  // 	width: 60px;
  // 	height: 60px;
  // }

  // .token-info p {
  // 	font-size: 20px;
  // }

  // .token-right {
  // 	gap: 3px;
  // }

  // .token-right h5 {
  // 	font-size: 24px;
  // }

  // .token-price-change {
  // 	gap: 5px;
  // }

  // .token-price-change p {
  // 	font-size: 16px;
  // }
}
