<app-header 
  [isPopupVisible]="isPopupVisible" 
  [isNetworkPopupVisible]="isNetworkPopupVisible"
  [selectedNetwork]="selectedNetwork"
  (toggleMenu)="togglePopup()"
  (toggleNetwork)="toggleNetworkPopup()">
</app-header>

<router-outlet></router-outlet>

<app-blackhole-menu *ngIf="isPopupVisible" (close)="togglePopup()"></app-blackhole-menu>

<app-blackhole-network *ngIf="isNetworkPopupVisible" 
                       (networkSelected)="onNetworkSelected($event)"
                       (close)="toggleNetworkPopup()"></app-blackhole-network>

<app-footer></app-footer>

<app-blockchain-connect></app-blockchain-connect>