<router-outlet></router-outlet>
@if(popupService.activePopup$ | async; as activePopup)
{
  @if(activePopup === 'connectWallet')
  {
    <app-connect-wallet
      (close)="popupService.closeAllPopups()"
      (openWallet)="popupService.openPopup('wallet')">
    </app-connect-wallet>
  }

  @if(activePopup === 'wallet')
  {
    <app-wallet
      (close)="popupService.closeAllPopups()">
    </app-wallet>
  }

  @if(activePopup === 'blackholeMenu')
  {
    <app-blackhole-menu
      (close)="popupService.closeAllPopups()"
      (mouseEnter)="onPopupMouseEnter()"
      (mouseLeave)="onPopupMouseLeave()">
    </app-blackhole-menu>
  }

  @if(popupService.getCurrentPopup() === 'ecosystemChange')
  {
    <app-ecosystem-change
      (ecosystemSelected)="onEcosystemSelected($event)"
      (close)="closeEcosystemPopup()">
    </app-ecosystem-change>
  }
}
<app-background></app-background>
