<div class="popup-menu">

	<div class="upper">
		<h6>Menu</h6>
  <button (click)="closePopup()"></button>
	</div>
	
	<div class="devider">
		<p>Social</p>
	<hr>
	</div>

	<div class="socials">
		<a href="">
			<div class="social-img twitter"></div>
			Twitter
		</a>
		<a href="">
			<div class="social-img telegram"></div>
			Telegram
		</a>
		<a href="">
			<div class="social-img github"></div>
			GitHub
		</a>
		<a href="">
			<div class="social-img medium"></div>
			Medium
		</a>
		<a href="">
			<div class="social-img documentation"></div>
			Documentation
		</a>
	</div>


	<div class="devider devider2">
		<p>Need help?</p>
		<hr class="hr2">
	</div>

	<a href="">
		<div class="social-img contact"></div>
		Contact us
	</a>
</div>