@media screen and (min-width: 1601px) and (max-width: 1920px) {
	h3{
		font-size: 18px;
		margin-left: 6px;
	}
	button{
		width: 6px;
		height: 3px;
	}
	button.closed {
		width: 6px;
		height: 3px;
		margin-left: 10px;
	}
	button.open {
		width: 6px;
		height: 3px;
		margin-left: 10px;
	}
	div.logo{
		width: 48px;
		height: 48px;
	}
	img{
		height: 48px;
		width: 48px;
	}
	nav{
		gap: 30px;
	}
	nav a {
		font-size: 18px;
	}
}
@media screen and (min-width: 1171px) and (max-width: 1600px) {
	h3{
		font-size: 18px;
		margin-left: 6px;
	}
	button{
		width: 6px;
		height: 3px;
	}
	button.closed {
		width: 6px;
		height: 3px;
		margin-left: 10px;
	}
	button.open {
		width: 6px;
		height: 3px;
		margin-left: 10px;
	}
	div.logo{
		width: 48px;
		height: 48px;
	}
	img{
		height: 48px;
		width: 48px;
	}
	nav{
		gap: 30px;
	}
	nav a {
		font-size: 18px;
	}
}
@media screen and (min-width: 971px) and (max-width: 1170px) {
	h3{
		font-size: 13px;
		margin-left: 4px;
	}
	button{
		width: 5px;
		height: 3px;
	}
	button.closed {
		width: 5px;
		height: 3px;
		margin-left: 5px;
	}
	button.open {
		width: 5px;
		height: 3px;
		margin-left: 5px;
	}
	div.logo{
		width: 35px;
		height: 35px;
	}
	img{
		height: 35px;
		width: 35px;
	}
	nav{
		gap: 20px;
	}
	nav a {
		font-size: 13px;
	}
}
@media screen and (min-width: 480px) and (max-width: 970px) {
	h3{
		font-size: 18px;
		margin-left: 6px;
	}
	button{
		width: 6px;
		height: 3px;
	}
	button.closed {
		width: 6px;
		height: 3px;
		margin-left: 10px;
	}
	button.open {
		width: 6px;
		height: 3px;
		margin-left: 10px;
	}
	div.logo{
		width: 48px;
		height: 48px;
	}
	img{
		height: 48px;
		width: 48px;
	}
	nav{
		gap: 30px;
	}
	nav a {
		font-size: 18px;
	}
}

@media screen and (min-width: 360px) and (max-width: 479px) {
	h3{
		font-size: 18px;
		margin-left: 6px;
	}
	button{
		width: 6px;
		height: 3px;
	}
	button.closed {
		width: 6px;
		height: 3px;
		margin-left: 10px;
	}
	button.open {
		width: 6px;
		height: 3px;
		margin-left: 10px;
	}
	div.logo{
		width: 48px;
		height: 48px;
	}
	img{
		height: 48px;
		width: 48px;
	}
	nav{
		display: none;
	}
}