@media screen and (min-width: 1601px) and (max-width: 1920px) {
	.soon{
		padding: 10px 20px;
		border-radius: 14px;
	}

	.soon h6{
		font-size: 18px;
	}

	.more{
		border-radius: 8px;
		padding: 4px 16px;
	}

	.more p{
		font-size: 18px;
	}
}
@media screen and (min-width: 1171px) and (max-width: 1600px) {
	.soon{
		padding: 10px 20px;
		border-radius: 14px;
	}

	.soon h6{
		font-size: 18px;
	}

	.more{
		border-radius: 8px;
		padding: 4px 16px;
	}

	.more p{
		font-size: 18px;
	}
}
@media screen and (min-width: 971px) and (max-width: 1170px) {
	.soon{
		padding: 10px 20px;
		border-radius: 14px;
	}

	.soon h6{
		font-size: 14px;
	}

	.more{
		border-radius: 8px;
		padding: 4px 16px;
	}

	.more p{
		font-size: 14px;
	}
}
@media screen and (min-width: 480px) and (max-width: 970px) {
	.soon{
		padding: 10px 20px;
		border-radius: 14px;
	}

	.soon h6{
		font-size: 14px;
	}

	.more{
		border-radius: 8px;
		padding: 4px 16px;
	}

	.more p{
		font-size: 14px;
	}
}

@media screen and (min-width: 360px) and (max-width: 479px) {
	.soon{
		width: 90%;
		padding: 10px 20px;
		border-radius: 14px;
	}

	.soon h6{
		font-size: 18px;
	}

	.more{
		top: 58%;
		border-radius: 8px;
		padding: 4px 16px;
	}

	.more p{
		font-size: 14px;
	}
}
