<div class="connect-wallet">
	<div class="upper">
		<h6>Connect Wallet</h6>
		<button (click)="closePopup()"></button>
	</div>
  
	<div class="scroll-container">
		
		<div class="inner-wallets">
			@for (wallet of availableWallets; track wallet.id) {
			<div class="wallet" (click)="handleWalletClick(wallet)">
				<div class="name">
				<div class="wallet-img" [style.background-image]="'url(' + wallet.iconUrl + ')'"></div>
				<p>{{wallet.name}}</p>
				</div>
				@if (wallet.status) {
				<div class="status {{wallet.status}}">
					@if (wallet.status === 'install' && wallet.installUrl) {
					<a href="{{wallet.installUrl}}" target="_blank" (click)="$event.stopPropagation()">Install</a>
					} @else {
					<p>{{wallet.status | titlecase}}</p>
					}
				</div>
				}
			</div>
			}
		</div>
		
		<div class="devider" (click)="toggleOtherWallets()">
			<p>Other Wallets</p>
			<button [class.open]="isOtherWalletsVisible"></button>
		</div>
		
		<div class="inner-wallets" [class.hidden]="!isOtherWalletsVisible">
			@for (wallet of otherWallets; track wallet.id) {
			<div class="wallet" (click)="handleWalletClick(wallet)">
				<div class="name">
				<div class="wallet-img" [style.background-image]="'url(' + wallet.iconUrl + ')'"></div>
				<p>{{wallet.name}}</p>
				</div>
				@if (wallet.status) {
				<div class="status {{wallet.status}}">
					@if (wallet.status === 'install' && wallet.installUrl) {
					<a href="{{wallet.installUrl}}" target="_blank" (click)="$event.stopPropagation()">Install</a>
					} @else {
					<p>{{wallet.status | titlecase}}</p>
					}
				</div>
				}
			</div>
			}
		</div>
	</div>
	
  
	<p class="disclaimer">// By connecting your wallet, you agree to the <a href="/documentation/termsofuse" target="_blank">Terms of Use</a> and <a href="/documentation/privacypolicy" target="_blank">Privacy Policy</a> of Blackhole Labs.</p>
  </div>
