<div class="connect-wallet">
	<div class="upper">
		<h6>Connect Wallet</h6>
		<button (click)="closePopup()"></button>
	</div>
  
	<div class="scroll-container">
		<div class="devider">
			<p>Available</p>
			<hr class="hr1" />
		</div>
		
		<div class="inner-wallets">
			@for (wallet of availableWallets; track wallet.id) {
			<div class="wallet" (click)="handleWalletClick(wallet)">
				<div class="name">
				<div class="wallet-img" [style.background-image]="'url(' + wallet.iconUrl + ')'"></div>
				<p>{{wallet.name}}</p>
				</div>
				@if (wallet.status) {
				<div class="status {{wallet.status}}">
					@if (wallet.status === 'install' && wallet.installUrl) {
					<a href="{{wallet.installUrl}}" target="_blank" (click)="$event.stopPropagation()">Install</a>
					} @else {
					<p>{{wallet.status | titlecase}}</p>
					}
				</div>
				}
			</div>
			}
		</div>
		
		<div class="devider">
			<p>Other Wallets</p>
			<hr class="hr2" />
		</div>
		
		<div class="inner-wallets">
			@for (wallet of otherWallets; track wallet.id) {
			<div class="wallet" (click)="handleWalletClick(wallet)">
				<div class="name">
				<div class="wallet-img" [style.background-image]="'url(' + wallet.iconUrl + ')'"></div>
				<p>{{wallet.name}}</p>
				</div>
				@if (wallet.status) {
				<div class="status {{wallet.status}}">
					@if (wallet.status === 'install' && wallet.installUrl) {
					<a href="{{wallet.installUrl}}" target="_blank" (click)="$event.stopPropagation()">Install</a>
					} @else {
					<p>{{wallet.status | titlecase}}</p>
					}
				</div>
				}
			</div>
			}
		</div>
	</div>
	
  
	<p class="disclaimer">By connecting a wallet, you agree to Blackhole Aggregator's <a href="https://blackholelabs.gitbook.io/blackholelabs/policies/private-policy" target="_blank">Terms of Use</a> and consent to its <a href="https://blackholelabs.gitbook.io/blackholelabs/policies/terms-of-use" target="_blank">Privacy Policy</a>.</p>
  </div>
