.connect-wallet {
  width: 550px;
  height: auto;
  min-height: 0px;
  max-height: 860px;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: all 0.3s ease-in-out;
}

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}

.upper h6 {

  font-weight: 500;
  font-size: 22px;
  color: white;
  margin: 0;
}

.upper button {
  height: 19px;
  width: 19px;
  background: url(/img/header/popup-menu/close-icon.png);
  opacity: 0.3;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.upper button:hover {
  opacity: 1;
}

.scroll-container {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 20px;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.devider {
  margin-top: 17px;
	padding: 6px 18px;
	background-color: var(--btn-dark);
	border-radius: 10px;
	gap: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: rgba(var(--dark-select), 1);
  }
}

.devider p {

  font-weight: 400;
  font-size: 16px;
  color: white;
  margin: 0;
}

.devider button {
	background: url(/img/header/open-img.png);
  width: 10px;
  height: 6px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out;

  &.open {
    transform: rotate(180deg);
  }
}

.inner-wallets {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  max-height: 1000px;
  overflow: hidden;

  &.hidden {
    opacity: 0;
    max-height: 0;
    margin-top: 0;
    pointer-events: none;
  }
}

.wallet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  border-radius: 22px;
  background-color: transparent;
  box-sizing: border-box;
  padding: 10px 20px 10px 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
	border: 1px solid rgba(var(--white), 0);
}

.wallet:hover {
  background-color: rgba(var(--dark-select), 0.5);
	border: 1px solid rgba(var(--white), 0.2);
}

.name {
  display: flex;
  align-items: center;
  gap: 18px;
}

.wallet-img {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
}

.name p {

  font-weight: 700;
  font-size: 18px;
  color: white;
}

.status {
  width: 90px;
  height: 26px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status p,
.status a {

  font-weight: 400;
  font-size: 13px;
}

.recent {
  background-color: var(--dark-yellow);
}

.recent p {
  color: var(--yellow);
}

.install {
  background-color: var(--elem-nonactive);
}

.install a {
  color: white;
}

.disclaimer {

  font-weight: 400;
  font-size: 12px;
  color: var(--elem-nonactive);
  margin: 0;
}

.disclaimer a {
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

.disclaimer a:hover {
  color: var(--elem-active);
}
