.connect-wallet {
  width: 500px;
  height: 860px;
  background-color: rgba(var(--dark-bg), 0.3);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 28px;
  z-index: 1000;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}

.upper h6 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: 22px;
  color: white;
  margin: 0;
}

.upper button {
  height: 19px;
  width: 19px;
  background: url(/img/header/popup-menu/close-icon.png);
  opacity: 0.3;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.upper button:hover {
  opacity: 1;
}

.scroll-container {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 20px;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.devider {
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.devider p {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  color: var(--elem-nonactive);
}

.devider hr.hr1 {
  width: 302px;
  border: 1px solid var(--elem-nonactive);
}

.devider hr.hr2 {
  width: 259px;
  border: 1px solid var(--elem-nonactive);
}

.inner-wallets {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.wallet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 89px;
  border-radius: 22px;
  background-color: transparent;
  box-sizing: border-box;
  padding: 10px 20px 10px 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.wallet:hover {
  background-color: var(--dark-select);
}

.name {
  display: flex;
  align-items: center;
  gap: 18px;
}

.wallet-img {
  width: 69px;
  height: 69px;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}

.name p {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.status {
  width: 90px;
  height: 26px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status p,
.status a {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 13px;
}

.recent {
  background-color: var(--dark-yellow);
}

.recent p {
  color: var(--yellow);
}

.detected {
  background-color: rgba(var(--dark-green), 1);
}

.detected p {
  color: var(--green);
}

.install,
.connect {
  background-color: var(--elem-nonactive);
}

.install a,
.connect p {
  color: white;
}

.disclaimer {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 11px;
  color: var(--elem-nonactive);
  margin: 0;
}

.disclaimer a {
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

.disclaimer a:hover {
  color: var(--elem-active);
}