.notification {
  position: fixed;
  top: 150px;
  right: 40px;
  background: rgba(var(--dark-red), 1);
  backdrop-filter: blur(25px);
  border-radius: 16px;
  padding: 16px 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  z-index: 9999;
  min-width: 280px;
	box-sizing: border-box;

  .content {
    display: flex;
    align-items: center;
    gap: 12px;

    .info {
      display: flex;
      flex-direction: column;
      gap: 4px;
			margin-right: 20px;
			h3 {
				font-family: "JetBrains Mono", monospace;
				font-weight: 800;
				font-size: 21px;
				color: white;
				margin: 0;
			}
			p {
				font-family: "JetBrains Mono", monospace;
				font-weight: 400;
				font-size: 16px;
				color: white;
			}
    }

    
  }

	.failed-icon {
		width: 34px;
		height: 34px;
		background-image: url(/img/bridge/status-bad.png);
		background-size: cover;
	}

}
