.popup-network {
	width: 277px;
	height: 673px;
  position: fixed;
  top: 148px;
  right: 130px;
  background: black;
  border: 1px solid var(--elem-nonactive);
	border-radius: 28px;
  z-index: 1000;
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
	box-sizing: border-box;
}
h6{
	font-family: "JetBrains Mono", monospace;
	font-weight: 800;
	font-size: 21px;
	color: white;
	margin-left: 10px;
}
.network-container{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	margin-top: 17px;
}
.network{
	display: flex;
	align-items: center;
	gap: 10px;
	height: 46px;
	width: 237px;
	background-color: #000;
	border-radius: 14px;
	cursor: pointer;
	padding-left: 10px;
	box-sizing: border-box;
	transition: 0.2s;
}
.network:hover{
	background-color: var(--dark-select);
}
.network-icon{
	width: 30px;
	height: 30px;
}
p{
	font-family: "JetBrains Mono", monospace;
	font-weight: 400;
	font-size: 18px;
	color: white;
	pointer-events: none;
}
.ethereum{
	background: url(/img/header/network-menu/ethereum.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.optimism{
	background: url(/img/header/network-menu/optimism.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.arbitrum{
	background: url(/img/header/network-menu/arbitrum.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.zksync{
	background: url(/img/header/network-menu/zksync.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.scroll{
	background: url(/img/header/network-menu/scroll.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.linea{
	background: url(/img/header/network-menu/linea.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.mantle{
	background: url(/img/header/network-menu/mantle.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.blast{
	background: url(/img/header/network-menu/blast.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.bnb{
	background: url(/img/header/network-menu/bnb.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.polygon{
	background: url(/img/header/network-menu/polygon.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.avalanche{
	background: url(/img/header/network-menu/avalanche.png);
	background-size: cover;
	background-repeat: no-repeat;
}