@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;

  --dark-bg: 47, 47, 47;
  --elem-nonactive: #5d5d5d;
  --dark-select: 27, 27, 27;
  --btn-dark: #2f2f2f;

  --blue: 92, 148, 252;
  --dark-blue: 30, 0, 255;

  --dark-violet: #39174f;
  --violet: #bf57ff;

  --dark-pink: 255, 0, 221;
  --pink: #ff00dd;

  --red: #ff7e7e;
  --dark-red: 54, 24, 24;
  --dark-red-hover: #723a3a;

  --green: 151, 255, 123;
  --dark-green: 26, 36, 23;

  --yellow: #ffbb00;
  --dark-yellow: #4a3703;

  --gradient: linear-gradient(135deg, rgb(var(--blue)) 0%, rgb(var(--dark-blue)) 100%);

  --quest-uncommon: 120, 255, 174;
  --quest-uncommon-bg: 43, 111, 34;
}

.light-theme {
  --dark-select: 245, 245, 245;
  --elem-nonactive: rgba(0, 0, 0, 0.2);
  --green: #00cc00;

  background-color: #ffffff;
  color: #000000;

  .form-container {
    background-color: #ffffff;
  }

  h1,
  p,
  a {
    color: #000000;
  }

  .link,
  .button,
  .input-container {
    background: rgba(0, 0, 0, 0.05);

    &::before {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    }
  }

  input {
    color: #000000;
    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
  }
}

html {
  overflow: hidden;
}

html.documentation-page {
  overflow: auto;
}

@keyframes colorChange {
  0% {
    filter: blur(60px) hue-rotate(0deg);
  }
  50% {
    filter: blur(60px) hue-rotate(180deg);
  }
  100% {
    filter: blur(60px) hue-rotate(360deg);
  }
}

@keyframes popupFadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
}

@keyframes popupFadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -20px) scale(0.95);
  }
}

@keyframes popupFadeInSide {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes popupFadeOutSide {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
}

@keyframes popupFadeInCenter {
  from {
    opacity: 0;
    transform: translate(-50%, -20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
}

@keyframes popupFadeOutCenter {
  from {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -20px) scale(0.95);
  }
}

@keyframes popupFadeInMobile {
  from {
    opacity: 0;
    transform: translate(-50%, -20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
}

@keyframes popupFadeOutMobile {
  from {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -20px) scale(0.95);
  }
}

@keyframes popupFadeInMobileSide {
  from {
    opacity: 0;
    transform: translate(-50%, -20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
}

@keyframes popupFadeOutMobileSide {
  from {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -20px) scale(0.95);
  }
}

.popup-common-list,
.popup-menu,
.connect-wallet,
.settings-popup,
.settings-bridge-popup,
.wallet-popup,
.network-popup,
.blackhole-menu,
.token-change,
.network-change-from,
.network-change-to,
.bridge-tx,
app-token-change .token-change,
app-token-change-buy .token-change,
.ecosystem-change {
  opacity: 1;
  pointer-events: all;
}

.popup-opening .popup-common-list,
.popup-opening .popup-menu,
.popup-opening .connect-wallet,
.popup-opening .settings-popup,
.popup-opening .settings-bridge-popup,
.popup-opening .wallet-popup,
.popup-opening .network-popup,
.popup-opening .blackhole-menu,
.popup-opening app-token-change .token-change,
.popup-opening app-token-change-buy .token-change,
.popup-opening .popup-network,
.popup-opening .ecosystem-change,
.popup-opening .settings-popup,
.popup-opening .settings-bridge-popup {
  animation: popupFadeInSide 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.popup-closing .popup-common-list,
.popup-closing .popup-menu,
.popup-closing .connect-wallet,
.popup-closing .settings-popup,
.popup-closing .settings-bridge-popup,
.popup-closing .wallet-popup,
.popup-closing .network-popup,
.popup-closing .blackhole-menu,
.popup-closing app-token-change .token-change,
.popup-closing app-token-change-buy .token-change,
.popup-closing .popup-network,
.popup-closing .ecosystem-change,
.popup-closing .settings-popup,
.popup-closing .settings-bridge-popup {
  animation: popupFadeOutSide 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.popup-opening .bridge-tx,
.popup-opening .network-change-from,
.popup-opening .network-change-to,
.popup-opening .token-change,
.popup-opening app-token-change .token-change,
.popup-opening app-token-change-buy .token-change {
  animation: popupFadeIn 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.popup-closing .bridge-tx,
.popup-closing .network-change-from,
.popup-closing .network-change-to,
.popup-closing .token-change,
.popup-closing app-token-change .token-change,
.popup-closing app-token-change-buy .token-change {
  animation: popupFadeOut 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

app-settings,
app-settings-bridge {
  position: absolute;
  top: 155px;
  left: calc(50% + 320px);
  z-index: 10;
}

.wallet-popup {
  position: fixed;
  top: 130px;
  right: 40px;
}

.popup-network {
  position: fixed;
  top: 155px;
  right: 130px;
}

.bridge-tx,
.network-change-from,
.network-change-to,
.token-change {
  position: fixed;
  top: 156px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 100;
}

@media screen and (min-width: 1601px) and (max-width: 1920px) {
  app-settings {
    top: 108px;
    left: calc(50% + 280px);
  }

  .wallet-popup {
    top: 100px;
    right: 30px;
  }

  .popup-network {
    top: 108px;
    right: 55px;
  }

  .bridge-tx,
  .network-change-from,
  .network-change-to,
  .token-change {
    top: 108px;
  }
}
@media screen and (min-width: 1171px) and (max-width: 1600px) {
  app-settings {
    top: 88px;
    left: calc(50% + 280px);
  }

  .wallet-popup {
    top: 80px;
    right: 20px;
  }

  .popup-network {
    top: 88px;
    right: 55px;
  }

  .bridge-tx,
  .network-change-from,
  .network-change-to,
  .token-change {
    top: 88px;
  }
}
@media screen and (min-width: 971px) and (max-width: 1170px) {
  app-settings {
    top: 75px;
    left: calc(50% + 175px);
  }

  .wallet-popup {
    top: 65px;
    right: 20px;
  }

  .popup-network {
    top: 75px;
    right: 36px;
  }

  .bridge-tx,
  .network-change-from,
  .network-change-to,
  .token-change {
    top: 75px;
  }
}
@media screen and (min-width: 768px) and (max-width: 970px) {
  app-settings {
    top: 200px;
    left: calc(50% - 130px);
    z-index: 1;
  }

  .wallet-popup {
    top: 80px;
    right: 20px;
  }

  .popup-network {
    top: 88px;
    right: 55px;
  }

  .bridge-tx,
  .network-change-from,
  .network-change-to,
  .token-change {
    top: 88px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  app-settings {
    top: 230px;
    left: calc(50% - 130px);
    z-index: 1;
  }

  .wallet-popup {
    top: 90px;
    right: 20px;
  }

  .blackhole-menu {
    top: 80px;
    left: 20px;
  }

  .popup-network {
    top: 138px;
    right: 55px;
  }

  .bridge-tx,
  .network-change-from,
  .network-change-to,
  .token-change {
    top: 118px;
  }
}

@media screen and (min-width: 360px) and (max-width: 479px) {
  app-settings {
    position: fixed;
    top: 108px;
    left: 5%;
    z-index: 100;
  }

  .wallet-popup,
  .connect-wallet,
  .popup-network,
  .bridge-tx,
  .network-change-from,
  .network-change-to,
  .token-change {
    position: fixed;
    top: 108px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
  }

  .ecosystem-change {
    left: 45%;
  }

  /* Для попапов, которые обычно используют popupFadeInSide */
  .popup-opening .connect-wallet,
  .popup-opening .wallet-popup,
  .popup-opening .popup-network,
  .popup-opening .blackhole-menu,
  .popup-opening app-settings,
  .popup-opening app-settings-bridge,
  .popup-opening .ecosystem-change,
  .popup-opening .popup-common-list,
  .popup-opening .popup-menu {
    animation: popupFadeInMobileSide 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  .popup-closing .connect-wallet,
  .popup-closing .wallet-popup,
  .popup-closing .popup-network,
  .popup-closing .blackhole-menu,
  .popup-closing app-settings,
  .popup-closing app-settings-bridge,
  .popup-closing .ecosystem-change,
  .popup-closing .popup-common-list,
  .popup-closing .popup-menu {
    animation: popupFadeOutMobileSide 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  /* Для попапов, которые обычно используют popupFadeIn */
  .popup-opening .bridge-tx,
  .popup-opening .network-change-from,
  .popup-opening .network-change-to,
  .popup-opening .token-change,
  .popup-opening app-token-change .token-change,
  .popup-opening app-token-change-buy .token-change {
    animation: popupFadeInMobile 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  .popup-closing .bridge-tx,
  .popup-closing .network-change-from,
  .popup-closing .network-change-to,
  .popup-closing .token-change,
  .popup-closing app-token-change .token-change,
  .popup-closing app-token-change-buy .token-change {
    animation: popupFadeOutMobile 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
}
