@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --elem-nonactive: #5D5D5D;
	--dark-orange: #4E280B;
	--orange: #FF6F00;
	--dark-yellow: #4A3703;
	--yellow: #FFBB00;
	--btn-dark: #2F2F2F;
	--dark-select: #1B1B1B;
	--red: #FF7E7E;
	--green: #B8FFA4;
	--dark-select: #1B1B1B;
}


html{
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
}