<footer>
	<hr>
	<div class="content">
		<div class="copyright-container">
			<div class="copyright-text">2025 Blackhole Labs | All Rights Reserved</div>
			<div class="copyright"></div>
		</div>
		<p class="separator">|</p>
		<a href="https://blackholelabs.gitbook.io/blackholelabs/policies/private-policy" target="_blank">Terms of Use</a>
		<p class="separator">|</p>
		<a href="https://blackholelabs.gitbook.io/blackholelabs/policies/terms-of-use" target="_blank">Privacy Policy</a>
		<p class="separator">|</p>
		<div class="block-number">
			<p>23424243</p>
			<div class="indicator"></div>
		</div>
	</div>
</footer>