<footer>
	<div class="content">
		<div class="copyright-container">
			<div class="copyright-text">2025 Alyra | All Rights Reserved</div>
			<div class="copyright"></div>
		</div>
		<div class="separator"></div>
		<a href="/documentation/termsofuse">Terms of Use</a>
		<div class="separator"></div>
		<a href="/documentation/privacypolicy">Privacy Policy</a>
		<div class="separator"></div>
		<div class="block-number">
			<p>{{block()}}</p>
			<div class="indicator"></div>
		</div>
	</div>
</footer>
