<div class="ecosystem-change" (mousemove)="onEcosystemChangeMouseMove($event)">
  <div class="upper">
    <h6>Select Ecosystem</h6>
    <button (click)="closePopup()"></button>
  </div>

  <div class="scroll-container">
    <div class="ecosystems">
      @for (ecosystem of ecosystems; track ecosystem.id) {
        <div class="ecosystem" (click)="selectEcosystem(ecosystem.id)">
          <div class="name">
            <div
              class="ecosystem-img"
              [style.background-image]="'url(' + ecosystem.iconUrl + ')'"
            ></div>
            <p>{{ ecosystem.name }}</p>
          </div>
        </div>
      }
    </div>
  </div>

  <p class="disclaimer">// Select the blockchain ecosystem you want to use with Alyra</p>
</div>
