@media screen and (min-width: 1601px) and (max-width: 1920px) {
	.ecosystem-change {
		width: 416px;
		border-radius: 22px;
		padding: 20px;
	}
	.upper {
		margin-bottom: 15px;
	}
	.upper h6 {
		font-size: 20px;
	}
	.upper button {
		height: 13px;
		width: 13px;
	}
	.scroll-container {
		margin-bottom: 14px;
	}
	.ecosystems {
		gap: 8px;
	}
	.ecosystem {
		border-radius: 18px;
		padding: 15px;
	}
	.name {
		gap: 16px;
	}
	.ecosystem-img {
		width: 57px;
		height: 57px;
		min-width: 57px;
		min-height: 57px;
		border-radius: 13px;
	}
	.info h4 {
		font-size: 16px;
	}
	.info p {
		font-size: 12px;
	}
	.disclaimer {
		font-size: 9px;
	}
}
@media screen and (min-width: 1171px) and (max-width: 1600px) {
	.ecosystem-change {
		width: 386px;
		border-radius: 22px;
		padding: 20px;
	}
	.upper {
		margin-bottom: 15px;
	}
	.upper h6 {
		font-size: 20px;
	}
	.upper button {
		height: 13px;
		width: 13px;
	}
	.scroll-container {
		margin-bottom: 14px;
	}
	.ecosystems {
		gap: 8px;
	}
	.ecosystem {
		border-radius: 18px;
		padding: 15px;
	}
	.name {
		gap: 16px;
	}
	.ecosystem-img {
		width: 57px;
		height: 57px;
		min-width: 57px;
		min-height: 57px;
		border-radius: 13px;
	}
	.info h4 {
		font-size: 16px;
	}
	.info p {
		font-size: 12px;
	}
	.disclaimer {
		font-size: 9px;
	}
}
@media screen and (min-width: 971px) and (max-width: 1170px) {
	.ecosystem-change {
		width: 304px;
		border-radius: 16px;
		padding: 15px;
	}
	.upper {
		margin-bottom: 0px;
	}
	.upper h6 {
		font-size: 13px;
	}
	.upper button {
		height: 10px;
		width: 10px;
	}
	.scroll-container {
		margin-bottom: 10px;
	}
	.ecosystems {
		gap: 5px;
	}
	.ecosystem {
		border-radius: 16px;
		padding: 8px;
	}
	.name {
		gap: 11px;
	}
	.ecosystem-img {
		width: 42px;
		height: 42px;
		min-width: 42px;
		min-height: 42px;
		border-radius: 10px;
	}
	.info h4 {
		font-size: 10px;
	}
	.info p {
		font-size: 8px;
	}
	.disclaimer {
		font-size: 7px;
	}
}
@media screen and (min-width: 480px) and (max-width: 970px) {
	.ecosystem-change {
		width: 386px;
		border-radius: 22px;
		padding: 20px;
	}
	.upper {
		margin-bottom: 15px;
	}
	.upper h6 {
		font-size: 20px;
	}
	.upper button {
		height: 13px;
		width: 13px;
	}
	.scroll-container {
		margin-bottom: 14px;
	}
	.ecosystems {
		gap: 8px;
	}
	.ecosystem {
		border-radius: 18px;
		padding: 15px;
	}
	.name {
		gap: 16px;
	}
	.ecosystem-img {
		width: 57px;
		height: 57px;
		min-width: 57px;
		min-height: 57px;
		border-radius: 13px;
	}
	.info h4 {
		font-size: 16px;
	}
	.info p {
		font-size: 12px;
	}
	.disclaimer {
		font-size: 9px;
	}
}

@media screen and (min-width: 360px) and (max-width: 479px) {
	.ecosystem-change {
		width: 90%;
		border-radius: 22px;
		padding: 15px 18px;
	}
	.upper {
		margin-bottom: 10px;
	}
	.upper h6 {
		font-size: 18px;
	}
	.upper button {
		height: 13px;
		width: 13px;
	}
	.scroll-container {
		margin-bottom: 10px;
	}
	.ecosystems {
		gap: 5px;
	}
	.ecosystem {
		border-radius: 16px;
		padding: 8px;
	}
	.name {
		gap: 11px;
	}
	.ecosystem-img {
		width: 45px;
		height: 45px;
		min-width: 45px;
		min-height: 45px;
		border-radius: 13px;
	}
	.info h4 {
		font-size: 14px;
	}
	.info p {
		font-size: 10px;
	}
	.disclaimer {
		font-size: 10px;
	}
}
