@import '../../../styles/mouse-gradient-button';

.ecosystem-change {
  @include mouse-gradient-button(
    $border-radius: 28px,
    $padding: 40px,
    $background: rgba(var(--dark-bg), 0.3),
    $backdrop-blur: 25px
  );
  
  width: 450px;
  height: auto;
  min-height: 0px;
  max-height: 860px;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: all 0.3s ease-in-out;

	&:hover {
    transform: none;
    
    background: radial-gradient(
      circle at var(--gradient-x, 50%) var(--gradient-y, 50%), 
      rgba(255, 255, 255, 0.003) 0%, 
      rgba(255, 255, 255, 0.001) 50%, 
      transparent 100%
    );
  }
}

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--black), 0.3);
  backdrop-filter: blur(35px);
	-webkit-backdrop-filter: blur(35px);
	z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}

.upper h6 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: 22px;
  color: white;
  margin: 0;
}

.upper button {
  height: 19px;
  width: 19px;
  background: url(/img/header/popup-menu/close-icon.png);
  opacity: 0.3;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.upper button:hover {
  opacity: 1;
}

.scroll-container {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 20px;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.ecosystems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ecosystem {
  display: flex;
  align-items: center;
  justify-content: space-between;
	border: 1px solid rgba(var(--white), 0);
  width: 100%;
  height: 70px;
  border-radius: 22px;
  background-color: transparent;
  box-sizing: border-box;
  padding: 10px 20px 10px 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.ecosystem:hover {
  background-color: rgba(var(--dark-select), 0.5);
	border: 1px solid rgba(var(--white), 0.2);
}

.name {
  display: flex;
  align-items: center;
  gap: 18px;
}

.ecosystem-img {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.name p {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  color: white;
}

.disclaimer {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  color: var(--elem-nonactive);
  margin: 0;
}

.disclaimer a {
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

.disclaimer a:hover {
  color: var(--violet);
}
