@media screen and (max-width: 1920px) {
  .blackhole-menu {
    top: 100px;
    left: 30px;
    border-radius: 14px;
  }

  .devider {
    p {
      font-weight: 400;
    }
  }

  h6 {
    font-weight: 500;
    font-size: 16px;
  }

  button {
    height: 10px;
    width: 10px;
  }

  p {
    font-size: 15px;
  }

  .menu-item {
    padding: 5px 8px;
  }

  .menu-text {
    font-weight: 400;
    font-size: 14px;
  }
}

@media screen and (max-width: 1600px) {
  .blackhole-menu {
    top: 80px;
    left: 20px;
    border-radius: 10px;
    padding: 15px;
  }

  .devider {
    margin-top: 15px;
  }

  h6 {
    font-size: 12px;
  }

  .menu-item {
    padding: 5px;
  }

  .menu-text {
    font-size: 12px;
  }

  .social-img {
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 1170px) {
  .blackhole-menu {
    top: 65px;
    left: 20px;
    border-radius: 10px;
    padding: 10px;
  }

  .devider {
    margin-top: 10px;

    p {
      font-weight: 400;
      font-size: 8px;
    }
  }

  h6 {
    font-weight: 500;
    font-size: 12px;
  }

  button {
    height: 8px;
    width: 8px;
  }

  .menu-item {
    padding: 5px 8px;
    margin-top: 5px;
  }

  .menu-text {
    font-weight: 400;
    font-size: 12px;
  }

  .social-img {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 970px) {
  .popup-wrapper {
    max-width: calc(100% - 32px);
    width: 550px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .blackhole-menu {
    box-sizing: border-box;
    width: 100%;
    top: 80px;
    left: 0;
    background-color: rgba(var(--black), 0.3);
    border-radius: 20px;
    padding: 15px;
  }

  h6 {
    font-size: 18px;
  }

  button {
    height: 12px;
    width: 12px;
  }

  .devider {
    padding: 2px 8px;
    border-radius: 5px;
    margin-top: 20px;

    p {
      font-size: 12px;
    }
  }

  .menu-item {
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
  }

  .menu-text {
    font-size: 14px;
  }

  .social-img {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 768px) {
  .popup-wrapper {
    width: 400px;
  }

  .blackhole-menu {
    top: 132px;
    border-radius: 10px;
    padding: 10px;
  }

  h6 {
    font-size: 16px;
  }

  button {
    height: 20px;
    width: 20px;
  }

  .devider {
    padding: 2px 8px;
    border-radius: 4px;
    margin-top: 15px;

    p {
      font-size: 10px;
    }
  }

  .menu-item {
    gap: 8px;
    padding: 10px;
    margin-top: 8px;
  }

  .menu-text {
    font-size: 12px;
  }

  .social-img {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 480px) {
  .popup-wrapper {
    width: 320px;
  }

  .blackhole-menu {
    top: 100px;
    left: 50%;
  }
}
