<div class="popup-container blackhole-menu">
	<div class="upper">
		<h6>Menu</h6>
		<button (click)="closePopup()"></button>
	</div>

	<div class="devider">
		<p>Overview</p>
	</div>

	<div class="overview">
		<div class="menu-item" routerLink="/trade" (click)="closePopup()">
			<div class="social-img trade"></div>
			<p class="menu-text">Trade</p>
		</div>
		<!-- <a routerLink="/bridge" (click)="closePopup()">
			<div class="social-img bridge"></div>
			Bridge
		</a> -->
		<!-- <a routerLink="/fun" (click)="closePopup()">
			<div class="social-img fun"></div>
			Fun
		</a>
		<a routerLink="/launchpad" (click)="closePopup()">
			<div class="social-img launchpad"></div>
			Launchpad
		</a> -->
		<div class="menu-item" routerLink="/rewards" (click)="closePopup()">
			<div class="social-img quests"></div>
			<p class="menu-text">Rewards</p>
		</div>
	</div>
	
	<div class="devider devider2">
		<p>Social</p>
	</div>

	<div class="socials">
		<div class="menu-item" href="https://x.com/blackhole_labs" target="_blank" (click)="closePopup()">
			<div class="social-img twitter"></div>
			<p class="menu-text">Twitter</p>
		</div>
		<div class="menu-item" href="https://blackholelabs.gitbook.io/blackholelabs" target="_blank" (click)="closePopup()">
			<div class="social-img documentation"></div>
			<p class="menu-text">Documentation</p>
		</div>
	</div>


	<div class="devider devider2">
		<p>Need help?</p>
	</div>

	<div class="menu-item" href="https://t.me/blackhole_support" target="_blank" (click)="closePopup()">
		<div class="social-img contact"></div>
		<p class="menu-text">Contact us</p>
	</div>
</div>