<div class="bg" aria-hidden="true">
  <svg class="stage" viewBox="0 0 1440 900" preserveAspectRatio="xMidYMid slice">
    <defs>
      <filter id="softBlur" x="-200%" y="-200%" width="500%" height="500%"
              filterUnits="objectBoundingBox" color-interpolation-filters="sRGB">
        <feGaussianBlur stdDeviation="128.4"/>
      </filter>
    </defs>

    <g filter="url(#softBlur)" class="blend">
      <g transform="translate(50 600)">
        <g class="blob left top">
          <ellipse rx="162.457" ry="315.918"
                   transform="rotate(-1.91449)"
                   fill="#E97A50"/>
        </g>
      </g>

      <g transform="translate(150 750)">
        <g class="blob left bottom">
          <ellipse rx="471.111" ry="211.868"
                   transform="rotate(22.6252)"
                   fill="#A50EF0"/>
        </g>
      </g>

      <g transform="translate(1450 400)">
        <g class="blob right top">
          <ellipse rx="177.856" ry="298.044"
                   transform="rotate(-1.91449)"
                   fill="#1C41FC"/>
        </g>
      </g>

      <g transform="translate(1300 900)">
        <g class="blob right bottom">
          <ellipse rx="262.626" ry="389.816"
                   transform="rotate(-23)"
                   fill="#01A3CB"/>
        </g>
      </g>
    </g>
  </svg>
</div>
