@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.header {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px 0px 50px;
	box-sizing: border-box;
	position: relative;
}

.header .logo, .links .link, .launch {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	padding: 10px 20px;
	box-sizing: border-box;
	height: 58px;
	border-radius: 13px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
	--webkit-backdrop-filter: blur(10px);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	&:hover {
		background: rgba(255, 255, 255, 0.2);
	}
}

.header .logo .logo-img {
	width: 39px;
	height: 39px;
	background: url(/img/header/logo.png);
  background-size: cover;
}

p {
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	font-size: 30px;
	color: white;
}

.links {
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	display: flex;
	align-items: center;
	gap: 15px;
}

.img {
	width: 35px;
	height: 35px;
}

.twitter {
	background: url(/img/header/popup-menu/twitter.png);
	background-size: cover;
}

.discord {
	background: url(/img/header/popup-menu/discord.png);
	background-size: cover;
}

.gitbook {
	background: url(/img/header/popup-menu/documentation.png);
	background-size: cover;
}

.medium {
	background: url(/img/header/popup-menu/medium.png);
	background-size: cover;
}

.launch p {
	font-size: 24px;
}

.info {
	position: absolute;
	bottom: 150px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	font-size: 62px;
	color: white;
}

h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	font-size: 26px;
	color: white;
	text-align: center;
}

span {
	color: var(--pink);
}

.statistics {
	display: flex;
	align-items: center;
	gap: 40px;
}

.statistic {
	position: relative;
	width: 290px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px 30px 30px 30px;
	border-radius: 28px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
	--webkit-backdrop-filter: blur(10px);
	transition: all 0.2s ease-in-out;
	&:hover {
		background: rgba(255, 255, 255, 0.1);
	}
	h1 {
		font-family: "JetBrains Mono", monospace;
		font-size: 52px;
	}
	h3 {
		font-family: "JetBrains Mono", monospace;
		font-size: 22px;
	}
}

.icons {
	display: flex;
	align-items: center;
	position: absolute;
	top: 30px;
	right: 25px;
}

.icon {
	width: 36px;
	height: 36px;
	margin-left: -10px;
}

.eth {
	background: url(/img/intro/eth.png);
	background-size: cover;
}

.arb {
	background: url(/img/intro/arb.png);
	background-size: cover;
}

.op {
	background: url(/img/intro/op.png);
	background-size: cover;
}

.sol {
	background: url(/img/intro/sol.png);
	background-size: cover;
}

.stargate {
	background: url(/img/intro/stargate.png);
	background-size: cover;
}

.mayan {
	background: url(/img/intro/mayan.png);
	background-size: cover;
}

.across {
	background: url(/img/intro/across.png);
	background-size: cover;
}

.hop {
	background: url(/img/intro/hop.png);
	background-size: cover;
}

.lifi {
	background: url(/img/intro/lifi.png);
	background-size: cover;
}

.bebop {
	background: url(/img/intro/bebop.png);
	background-size: cover;
}

.kyber {
	background: url(/img/intro/kyber.png);
	background-size: cover;
}

.jup {
	background: url(/img/intro/jup.png);
	background-size: cover;
}


.footer {
	position: absolute;
	bottom: 20px;
	left: 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.supporters {
	display: flex;
	align-items: center;
	gap: 20px;
}

.supporter {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 8px 20px;
	box-sizing: border-box;
	border-radius: 13px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
	--webkit-backdrop-filter: blur(10px);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	&:hover {
		background: rgba(255, 255, 255, 0.1);
	}
}

.sup-logo {
	width: 32px;
	height: 32px;
}

.superteam {
	background: url(/img/intro/superteam.png);
	background-size: cover;
}

.bfg {
	background: url(/img/intro/bfg.png);
	background-size: cover;
	width: 64px;
}