@media screen and (min-width: 1601px) and (max-width: 1920px) {
	.header {
		padding: 0 30px 0px 30px;
	}
	.header .logo, .links .link, .launch {
		gap: 12px;
		padding: 8px 16px;
		height: 48px;
		border-radius: 13px;
	}
	.header .logo .logo-img {
		width: 32px;
		height: 32px;
	}
	p {
		font-size: 24px;
	}
	.links {
		gap: 10px;
	}
	.img {
		width: 28px;
		height: 28px;
	}
	.launch p {
		font-size: 20px;
	}
	.info {
		bottom: 130px;
		gap: 40px;
	}
	.title {
		gap: 0px;
	}
	h1 {
		font-size: 52px;
	}
	h3 {
		font-size: 22px;
	}
	.statistics {
		gap: 20px;
	}
	.statistic {
		width: 290px;
		padding: 20px 30px 30px 30px;
		border-radius: 28px;
		h1 {
			font-size: 46px;
		}
		h3 {
			font-size: 18px;
		}
	}
	.icons {
		top: 30px;
		right: 25px;
	}
	.icon {
		width: 32px;
		height: 32px;
		margin-left: -10px;
	}
	.footer {
		bottom: 20px;
		left: 30px;
		gap: 10px;
	}
	.supporters {
		gap: 20px;
	}
	.supporter {
		gap: 10px;
		padding: 6px 16px;
		border-radius: 13px;
	}
	.sup-logo {
		width: 28px;
		height: 28px;
	}
	.bfg {
		width: 56px;
	}
}
@media screen and (min-width: 1171px) and (max-width: 1600px) {
	.header {
		padding: 0 20px 0px 20px;
	}
	.header .logo, .links .link, .launch {
		gap: 12px;
		padding: 8px 16px;
		height: 48px;
		border-radius: 13px;
	}
	.header .logo .logo-img {
		width: 32px;
		height: 32px;
	}
	p {
		font-size: 24px;
	}
	.links {
		gap: 10px;
	}
	.img {
		width: 28px;
		height: 28px;
	}
	.launch p {
		font-size: 20px;
	}
	.info {
		bottom: 130px;
		gap: 40px;
	}
	.title {
		gap: 0px;
	}
	h1 {
		font-size: 52px;
	}
	h3 {
		font-size: 22px;
	}
	.statistics {
		gap: 20px;
	}
	.statistic {
		width: 290px;
		padding: 20px 30px 30px 30px;
		border-radius: 28px;
		h1 {
			font-size: 46px;
		}
		h3 {
			font-size: 18px;
		}
	}
	.icons {
		top: 30px;
		right: 25px;
	}
	.icon {
		width: 32px;
		height: 32px;
		margin-left: -10px;
	}
	.footer {
		bottom: 10px;
		left: 20px;
		gap: 10px;
	}
	.supporters {
		gap: 10px;
	}
	.supporter {
		gap: 10px;
		padding: 6px 16px;
		border-radius: 13px;
	}
	.sup-logo {
		width: 28px;
		height: 28px;
	}
	.bfg {
		width: 56px;
	}
}
@media screen and (min-width: 971px) and (max-width: 1170px) {
	.header {
		padding: 0 20px 0px 20px;
	}
	.header .logo, .links .link, .launch {
		gap: 10px;
		padding: 6px 14px;
		height: 44px;
		border-radius: 10px;
	}
	.header .logo .logo-img {
		width: 32px;
		height: 32px;
	}
	p {
		font-size: 24px;
	}
	.links {
		gap: 10px;
	}
	.img {
		width: 28px;
		height: 28px;
	}
	.launch p {
		font-size: 20px;
	}
	.info {
		bottom: 110px;
		gap: 30px;
	}
	.title {
		gap: 0px;
	}
	h1 {
		font-size: 40px;
	}
	h3 {
		font-size: 18px;
	}
	.statistics {
		gap: 20px;
	}
	.statistic {
		width: 230px;
		padding: 16px 24px 24px 24px;
		border-radius: 24px;
		h1 {
			font-size: 42px;
		}
		h3 {
			font-size: 16px;
		}
	}
	.icons {
		top: 20px;
		right: 20px;
	}
	.icon {
		width: 28px;
		height: 28px;
		margin-left: -8px;
	}
	.footer {
		bottom: 10px;
		left: 20px;
		gap: 10px;
	}
	.supporters {
		gap: 10px;
	}
	.supporter {
		gap: 10px;
		padding: 4px 12px;
		border-radius: 10px;
	}
	.sup-logo {
		width: 22px;
		height: 22px;
	}
	.bfg {
		width: 46px;
	}
}
@media screen and (min-width: 480px) and (max-width: 970px) {
	.header {
		padding: 0 20px 0px 20px;
	}
	.header .logo, .links .link, .launch {
		gap: 10px;
		padding: 6px 14px;
		height: 44px;
		border-radius: 10px;
	}
	.header .logo .logo-img {
		width: 32px;
		height: 32px;
	}
	p {
		font-size: 24px;
	}
	.links {
		left: 20px;
		transform: translateX(0%);
		top: 60px;
		gap: 10px;
	}
	.img {
		width: 28px;
		height: 28px;
	}
	.launch p {
		font-size: 20px;
	}
	.info {
		bottom: 180px;
		gap: 30px;
	}
	.title {
		gap: 10px;
	}
	h1 {
		font-size: 36px;
		text-align: center;
		line-height: 1.2;
	}
	h3 {
		font-size: 16px;
	}
	.statistics {
		gap: 10px;
	}
	.statistic {
		width: 140px;
		padding: 10px 24px 50px 24px;
		border-radius: 20px;
		h1 {
			font-size: 36px;
		}
		h3 {
			font-size: 14px;
		}
	}
	.icons {
		top: 85px;
		right: 50%;
		transform: translateX(50%);
	}
	.icon {
		width: 24px;
		height: 24px;
		margin-left: -4px;
	}
	.footer {
		bottom: 10px;
		left: 20px;
		gap: 10px;
	}
	.supporters {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}
	.supporter {
		gap: 10px;
		padding: 4px 12px;
		border-radius: 10px;
	}
	.sup-logo {
		width: 22px;
		height: 22px;
	}
	.bfg {
		width: 46px;
	}
}

@media screen and (min-width: 360px) and (max-width: 479px) {
	.header {
		padding: 0 10px 0px 10px;
	}
	.header .logo, .links .link, .launch {
		gap: 10px;
		padding: 6px 14px;
		height: 44px;
		border-radius: 10px;
	}
	.header .logo .logo-img {
		width: 32px;
		height: 32px;
	}
	p {
		font-size: 18px;
	}
	.links {
		left: 10px;
		transform: translateX(0%);
		top: 55px;
		gap: 10px;
	}
	.img {
		width: 28px;
		height: 28px;
	}
	.launch p {
		font-size: 16px;
	}
	.info {
		width: 340px;
		top: 160px;
		gap: 30px;
	}
	.title {
		gap: 10px;
	}
	h1 {
		font-size: 32px;
		text-align: center;
		line-height: 1.2;
	}
	h3 {
		font-size: 12px;
	}
	.statistics {
		flex-direction: column;
		gap: 10px;
	}
	.statistic {
		width: 280px;
		padding: 10px 20px 15px 20px;
		border-radius: 20px;
		h1 {
			font-size: 36px;
		}
		h3 {
			font-size: 14px;
		}
	}
	.icons {
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
	.icon {
		width: 36px;
		height: 36px;
		margin-left: -4px;
	}
	.footer {
		width: 340px;
		align-items: center;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		gap: 10px;
	}
	.footer h3 {
		font-size: 16px;
	}
	.supporters {
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
	.supporter {
		gap: 10px;
		padding: 4px 12px;
		border-radius: 10px;
	}
	.sup-logo {
		width: 22px;
		height: 22px;
	}
	.bfg {
		width: 46px;
	}
}

@media screen and (max-height: 736px) {
	.footer {
		display: none;
	}
}