@media screen and (min-width: 1601px) and (max-width: 1920px) {
	.header {
		padding: 0 30px 0px 30px;
	}
	.header .logo, .links .link, .launch {
		gap: 12px;
		padding: 8px 16px;
		height: 48px;
		border-radius: 13px;
	}
	.logo-img {
		width: 52px;
		height: 52px;
	}
	p {
		font-size: 24px;
	}
	.links {
		gap: 10px;
	}
	.img {
		width: 28px;
		height: 28px;
	}
	.launch p {
		font-size: 20px;
	}
	.launch::after {
		right: 12px;
		font-size: 20px;
	}
	.launch:hover {
		padding-right: 35px;
	}
	.info {
		bottom: 130px;
		gap: 40px;
	}
	.title {
		gap: 10px;
	}
	h1 {
		font-size: 52px;
	}
	h3 {
		font-size: 22px;
	}
	.statistics {
		gap: 20px;
	}
	.statistic {
		width: 290px;
		padding: 20px 30px 30px 30px;
		border-radius: 28px;
		h1 {
			font-size: 46px;
		}
		h3 {
			font-size: 18px;
		}
	}
	.icons {
		top: 20px;
		right: 25px;
	}
	.statistic:hover {
		.icons1 {
			top: 40px;
		}
		.icons2 {
			top: 60px;
		}
		.icons3 {
			top: 80px;
		}
	}
	.icon {
		width: 32px;
		height: 32px;
		margin-left: -10px;
	}
	.footer {
		bottom: 20px;
		left: 30px;
		gap: 10px;
	}
	.footer h3 {
		font-size: 14px;
	}
	.supporters h3 {
		font-size: 14px;
	}
	.supporters {
		gap: 10px;
	}
	.supporter {
		gap: 10px;
		padding: 6px 16px;
		border-radius: 8px;
	}
	.supporter::before {
		border-radius: 8px;
	}
	.supporter::after {
		border-radius: 8px;
	}
	.sup-logo {
		width: 22px;
		height: 22px;
	}
	.bfg {
		width: 46px;
	}

	.token-1 {
		width: 90px;
		height: 90px;
		bottom: 50px;
		right: 80px;
	}
	
	.token-2 {
		width: 75px;
		height: 75px;
		bottom: 250px;
		right: 200px;
	}
	
	.token-3 {
		width: 85px;
		height: 85px;
		bottom: 500px;
		right: 160px;
	}
	
	.token-4 {
		width: 70px;
		height: 70px;
		bottom: 120px;
		left: 150px;
	}
	
	.token-5 {
		width: 80px;
		height: 80px;
		bottom: 280px;
		left: 50px;
	}
	
	.token-6 {
		width: 65px;
		height: 65px;
		bottom: 500px;
		left: 250px;
	}
	
	.token-7 {
		width: 95px;
		height: 95px;
		top: 120px;
		left: 320px;
	}
	
	.token-8 {
		width: 85px;
		height: 85px;
		top: 240px;
		left: 640px;
	}

	.token-9 {
		width: 75px;
		height: 75px;
		top: 200px;
		right: 300px;
	}
	
	.token-10 {
		width: 65px;
		height: 65px;
		top: 100px;
		right: 500px;
	}
	
	.token-11 {
		width: 80px;
		height: 80px;
		top: 320px;
		left: 920px;
	}
	
	.token-12 {
		width: 70px;
		height: 70px;
		top: 240px;
		left: 120px;
	}
}
@media screen and (min-width: 1171px) and (max-width: 1600px) {
	.header {
		padding: 0 20px 0px 20px;
	}
	.header .logo, .links .link, .launch {
		gap: 12px;
		padding: 8px 16px;
		height: 48px;
		border-radius: 13px;
	}
	.logo-img {
		width: 52px;
		height: 52px;
	}
	p {
		font-size: 24px;
	}
	.links {
		gap: 10px;
	}
	.img {
		width: 28px;
		height: 28px;
	}
	.launch p {
		font-size: 20px;
	}
	.launch::after {
		right: 12px;
		font-size: 20px;
	}
	.launch:hover {
		padding-right: 35px;
	}
	.info {
		bottom: 130px;
		gap: 40px;
	}
	.title {
		gap: 10px;
	}
	h1 {
		font-size: 52px;
	}
	h3 {
		font-size: 22px;
	}
	.statistics {
		gap: 20px;
	}
	.statistic {
		width: 290px;
		padding: 20px 30px 30px 30px;
		border-radius: 28px;
		h1 {
			font-size: 46px;
		}
		h3 {
			font-size: 18px;
		}
	}
	.statistic::after {
		border-radius: 28px;
	}
	.statistic::before {
		border-radius: 28px;
	}
	.icons {
		top: 20px;
		right: 25px;
	}
	.statistic:hover {
		.icons1 {
			top: 40px;
		}
		.icons2 {
			top: 60px;
		}
		.icons3 {
			top: 80px;
		}
	}
	.icon {
		width: 32px;
		height: 32px;
		margin-left: -10px;
	}
	.footer {
		bottom: 10px;
		left: 20px;
		gap: 5px;
	}
	.footer h3 {
		font-size: 14px;
	}
	.supporters h3 {
		font-size: 14px;
	}
	.supporters {
		gap: 10px;
	}
	.supporter {
		gap: 10px;
		padding: 6px 16px;
		border-radius: 8px;
	}
	.supporter::before {
		border-radius: 8px;
	}
	.supporter::after {
		border-radius: 8px;
	}
	.sup-logo {
		width: 22px;
		height: 22px;
	}
	.bfg {
		width: 46px;
	}

	.token-1 {
		width: 80px;
		height: 80px;
		bottom: 40px;
		right: 60px;
	}
	
	.token-2 {
		width: 65px;
		height: 65px;
		bottom: 300px;
		right: 100px;
	}
	
	.token-3 {
		width: 75px;
		height: 75px;
		bottom: 500px;
		right: 250px;
	}
	
	.token-4 {
		width: 60px;
		height: 60px;
		bottom: 600px;
		left: 280px;
	}
	
	.token-5 {
		width: 70px;
		height: 70px;
		bottom: 240px;
		left: 40px;
	}
	
	.token-6 {
		width: 55px;
		height: 55px;
		bottom: 450px;
		left: 80px;
	}
	
	.token-7 {
		width: 85px;
		height: 85px;
		top: 100px;
		left: 280px;
	}
	
	.token-8 {
		width: 75px;
		height: 75px;
		top: 200px;
		left: 560px;
	}

	.token-9 {
		width: 65px;
		height: 65px;
		top: 180px;
		right: 200px;
	}
	
	.token-10 {
		width: 55px;
		height: 55px;
		top: 70px;
		right: 400px;
	}
	
	.token-11 {
		width: 70px;
		height: 70px;
		top: 350px;
		left: 630px;
	}
	
	.token-12 {
		width: 60px;
		height: 60px;
		top: 200px;
		left: 100px;
	}
}
@media screen and (min-width: 971px) and (max-width: 1170px) {
	.header {
		padding: 0 20px 0px 20px;
	}
	.header .logo, .links .link, .launch {
		gap: 10px;
		padding: 6px 14px;
		height: 44px;
		border-radius: 10px;
	}
	.logo-img {
		width: 48px;
		height: 48px;
	}
	p {
		font-size: 24px;
	}
	.links {
		gap: 10px;
	}
	.img {
		width: 28px;
		height: 28px;
	}
	.launch p {
		font-size: 18px;
	}
	.launch::after {
		right: 10px;
		font-size: 18px;
	}
	.launch:hover {
		padding-right: 32px;
	}
	.info {
		bottom: 110px;
		gap: 30px;
	}
	.title {
		gap: 8px;
	}
	h1 {
		font-size: 40px;
	}
	h3 {
		font-size: 18px;
	}
	.statistics {
		gap: 20px;
	}
	.statistic {
		width: 230px;
		padding: 16px 24px 24px 24px;
		border-radius: 24px;
		h1 {
			font-size: 42px;
		}
		h3 {
			font-size: 16px;
		}
	}
	.statistic::after {
		border-radius: 24px;
	}
	.statistic::before {
		border-radius: 24px;
	}
	.icons {
		top: 20px;
		right: 20px;
	}
	.statistic:hover {
		.icons1 {
			top: 40px;
		}
		.icons2 {
			top: 60px;
		}
		.icons3 {
			top: 80px;
		}
	}
	.icon {
		width: 28px;
		height: 28px;
		margin-left: -8px;
	}
	.footer {
		bottom: 10px;
		left: 20px;
		gap: 5px;
	}
	.footer h3 {
		font-size: 12px;
	}
	.supporters h3 {
		font-size: 12px;
	}
	.supporters {
		gap: 5px;
	}
	.supporter {
		gap: 10px;
		padding: 4px 12px;
		border-radius: 8px;
	}
	.supporter::before {
		border-radius: 8px;
	}
	.supporter::after {
		border-radius: 8px;
	}
	.sup-logo {
		width: 22px;
		height: 22px;
	}
	.bfg {
		width: 46px;
	}

	.token-1 {
		width: 70px;
		height: 70px;
		bottom: 30px;
		right: 40px;
	}
	
	.token-2 {
		width: 55px;
		height: 55px;
		bottom: 140px;
		right: 240px;
	}
	
	.token-3 {
		width: 65px;
		height: 65px;
		bottom: 400px;
		right: 120px;
	}
	
	.token-4 {
		width: 50px;
		height: 50px;
		bottom: 500px;
		left: 240px;
	}
	
	.token-5 {
		width: 60px;
		height: 60px;
		bottom: 200px;
		left: 30px;
	}
	
	.token-6 {
		width: 45px;
		height: 45px;
		bottom: 600px;
		left: 70px;
	}
	
	.token-7 {
		width: 75px;
		height: 75px;
		top: 80px;
		left: 240px;
	}
	
	.token-8 {
		width: 65px;
		height: 65px;
		top: 160px;
		left: 480px;
	}

	.token-9 {
		width: 55px;
		height: 55px;
		top: 300px;
		right: 320px;
	}
	
	.token-10 {
		width: 45px;
		height: 45px;
		top: 240px;
		right: 560px;
	}
	
	.token-11 {
		width: 60px;
		height: 60px;
		top: 200px;
		left: 800px;
	}
	
	.token-12 {
		width: 50px;
		height: 50px;
		top: 160px;
		left: 80px;
	}
}
@media screen and (min-width: 480px) and (max-width: 970px) {
	.header {
		padding: 0 20px 0px 20px;
	}
	.header .logo, .links .link, .launch {
		gap: 10px;
		padding: 6px 14px;
		height: 44px;
		border-radius: 10px;
	}
	.logo-img {
		width: 45px;
		height: 45px;
	}
	p {
		font-size: 24px;
	}
	.links {
		left: 20px;
		transform: translateX(0%);
		top: 60px;
		gap: 10px;
	}
	.img {
		width: 28px;
		height: 28px;
	}
	.launch p {
		font-size: 18px;
	}
	.launch::after {
		right: 10px;
		font-size: 18px;
	}
	.launch:hover {
		padding-right: 32px;
	}
	.info {
		bottom: 180px;
		gap: 30px;
	}
	.title {
		gap: 10px;
	}
	h1 {
		font-size: 36px;
		text-align: center;
		line-height: 1.2;
	}
	h3 {
		font-size: 16px;
	}
	.statistics {
		gap: 10px;
	}
	.statistic {
		width: 140px;
		padding: 10px 24px 50px 24px;
		border-radius: 20px;
		h1 {
			font-size: 36px;
		}
		h3 {
			font-size: 14px;
		}
	}
	.statistic::after {
		border-radius: 20px;
	}
	.statistic::before {
		border-radius: 20px;
	}
	.icons {
		top: 85px;
		right: 50%;
		transform: translateX(50%);
	}
	.statistic:hover {
		.icons1 {
			display: none;
		}
		.icons2 {
			display: none;
		}
		.icons3 {
			display: none;
		}
	}
	.icon {
		width: 24px;
		height: 24px;
		margin-left: -4px;
	}
	.footer {
		bottom: 10px;
		left: 20px;
		gap: 8px;
	}
	.footer h3 {
		font-size: 12px;
	}
	.supporters h3 {
		font-size: 12px;
	}
	.supporters {
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}
	.supporter {
		gap: 8px;
		padding: 4px 12px;
		border-radius: 5px;
	}
	.supporter::before {
		border-radius: 8px;
	}
	.supporter::after {
		border-radius: 8px;
	}
	.sup-logo {
		width: 18px;
		height: 18px;
	}
	.bfg {
		width: 38px;
	}

	.token-1 {
		width: 60px;
		height: 60px;
		bottom: 20px;
		right: 30px;
	}
	
	.token-2 {
		width: 45px;
		height: 45px;
		bottom: 120px;
		right: 200px;
	}
	
	.token-3 {
		width: 55px;
		height: 55px;
		bottom: 250px;
		right: 100px;
	}
	
	.token-4 {
		width: 40px;
		height: 40px;
		bottom: 60px;
		left: 200px;
	}
	
	.token-5 {
		width: 50px;
		height: 50px;
		bottom: 160px;
		left: 20px;
	}
	
	.token-6 {
		width: 35px;
		height: 35px;
		bottom: 450px;
		left: 120px;
	}
	
	.token-7 {
		width: 65px;
		height: 65px;
		top: 260px;
		left: 200px;
	}
	
	.token-8 {
		width: 55px;
		height: 55px;
		top: 120px;
		left: 400px;
	}

	.token-9 {
		width: 45px;
		height: 45px;
		top: 300px;
		right: 240px;
	}
	
	.token-10 {
		width: 35px;
		height: 35px;
		top: 350px;
		right: 400px;
	}
	
	.token-11 {
		width: 50px;
		height: 50px;
		top: 200px;
		left: 660px;
	}
	
	.token-12 {
		width: 40px;
		height: 40px;
		top: 120px;
		left: 60px;
	}
}

@media screen and (min-width: 360px) and (max-width: 479px) {
	.header {
		padding: 0 10px 0px 10px;
	}
	.header .logo, .links .link, .launch {
		gap: 10px;
		padding: 6px 14px;
		height: 44px;
		border-radius: 10px;
	}
	.logo-img {
		width: 40px;
		height: 40px;
	}
	p {
		font-size: 18px;
	}
	.links {
		left: 10px;
		transform: translateX(0%);
		top: 55px;
		gap: 10px;
	}
	.img {
		width: 28px;
		height: 28px;
	}
	.launch p {
		font-size: 16px;
	}
	.launch::after {
		right: 10px;
		font-size: 16px;
	}
	.launch:hover {
		padding-right: 30px;
	}
	.info {
		width: 340px;
		top: 160px;
		gap: 30px;
	}
	.title {
		gap: 10px;
	}
	h1 {
		font-size: 32px;
		text-align: center;
		line-height: 1.2;
	}
	h3 {
		font-size: 12px;
	}
	.statistics {
		flex-direction: column;
		gap: 10px;
	}
	.statistic {
		width: 280px;
		padding: 10px 20px 15px 20px;
		border-radius: 20px;
		h1 {
			font-size: 36px;
		}
		h3 {
			font-size: 14px;
		}
	}
	.statistic::after {
		border-radius: 20px;
	}
	.statistic::before {
		border-radius: 20px;
	}
	.icons {
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
	.statistic:hover {
		.icons1 {
			display: none;
		}
		.icons2 {
			display: none;
		}
		.icons3 {
			display: none;
		}
	}
	.icon {
		width: 36px;
		height: 36px;
		margin-left: -4px;
	}
	.footer {
		position: absolute;
		width: 340px;
		left: 0;
		right: 0;
		margin: 0 auto;
		align-items: center;
		bottom: 10px;
		gap: 10px;
	}
	.footer h3 {
		font-size: 16px;
	}
	.supporters {
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
	.supporter {
		gap: 10px;
		padding: 4px 12px;
		border-radius: 10px;
	}
	.sup-logo {
		width: 22px;
		height: 22px;
	}
	.bfg {
		width: 46px;
	}

	.token-1 {
		width: 50px;
		height: 50px;
		bottom: 15px;
		right: 20px;
	}
	
	.token-2 {
		width: 35px;
		height: 35px;
		bottom: 100px;
		right: 160px;
	}
	
	.token-3 {
		width: 45px;
		height: 45px;
		bottom: 200px;
		right: 80px;
	}
	
	.token-4 {
		width: 30px;
		height: 30px;
		bottom: 40px;
		left: 160px;
	}
	
	.token-5 {
		width: 40px;
		height: 40px;
		bottom: 120px;
		left: 15px;
	}
	
	.token-6 {
		width: 25px;
		height: 25px;
		bottom: 200px;
		left: 100px;
	}
	
	.token-7 {
		width: 55px;
		height: 55px;
		top: 320px;
		left: 320px;
	}
	
	.token-8 {
		width: 45px;
		height: 45px;
		top: 100px;
		left: 320px;
	}

	.token-9 {
		width: 35px;
		height: 35px;
		top: 120px;
		right: 200px;
	}
	
	.token-10 {
		width: 25px;
		height: 25px;
		top: 340px;
		right: 320px;
	}
	
	.token-11 {
		width: 40px;
		height: 40px;
		top: 160px;
		left: 440px;
	}
	
	.token-12 {
		width: 30px;
		height: 30px;
		top: 100px;
		left: 40px;
	}
}

@media screen and (max-height: 736px) {
	.footer {
		display: none;
	}
}