<div class="intro-container">
	<div class="header">
		<div class="logo" (click)="reloadPage()">
			<div class="logo-img"></div>
			<p>Blackhole Labs</p>
		</div>

		<div class="links">
			<a href="https://x.com/blackhole_labs" target="_blank" class="link">
				<div class="img twitter"></div>
			</a>
			<!-- <div class="link">
				<div class="img discord"></div>
			</div> -->
			<a href="https://blackholelabs.gitbook.io/blackholelabs" target="_blank" class="link">
				<div class="img gitbook"></div>
			</a>
			<!-- <div class="link">
				<div class="img medium"></div>
			</div> -->
		</div>

		<div class="launch" (click)="launchApp()">
			<p>Launch App</p>
		</div>
	</div>

	<div class="info">
		<div class="title">
			<h1>Next-gen cross-chain trading.</h1>
			<h3><span>One endpoint</span> for Ethereum, Solana, and 25+ networks. <br>
				Swap and bridge <span>anything</span> with <span>AI-powered security</span>.</h3>
		</div>

		<div class="statistics">
			<div class="statistic">
				<h1>30</h1>
				<h3>Chains</h3>
				<div class="icons">
					<div class="icon eth"></div>
					<div class="icon arb"></div>
					<div class="icon op"></div>
					<div class="icon sol"></div>
				</div>
			</div>
			<div class="statistic">
				<h1>17</h1>
				<h3>Bridges</h3>
				<div class="icons">
					<div class="icon stargate"></div>
					<div class="icon mayan"></div>
					<div class="icon across"></div>
					<div class="icon hop"></div>
				</div>
			</div>
			<div class="statistic">
				<h1>12</h1>
				<h3>DEXs</h3>
				<div class="icons">
					<div class="icon lifi"></div>
					<div class="icon bebop"></div>
					<div class="icon kyber"></div>
					<div class="icon jup"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<h3>Supported by:</h3>
		<div class="supporters">
			<a href="https://x.com/SuperteamPOL" target="_blank" class="supporter">
				<div class="sup-logo superteam"></div>
				<h3>Superteam Poland</h3>
			</a>
			<a href="https://x.com/BFG_VC_Main" target="_blank" class="supporter">
				<div class="sup-logo bfg"></div>
				<h3>Blockchain Founders Group</h3>
			</a>
		</div>
	</div>
</div>